<div class="user-detail-donations d-flex flex-column">
    <div class="container-fluid">

        <div class="row pt-2" *ngIf="!loading">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="col">
                            <h4>Overall</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                new donor:
                                <app-status [active]="isNewDonor()" [titles]="['new donor','old donor']"></app-status>
                            </div>
                            <div class="col-6">
                                monthly donor:
                                <app-status [active]="donationsDetail.is_monthly_donor"
                                            [titles]="['monthly','one time']"></app-status>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-6">
                                donations count: {{donationsDetail.donations_sum?.donations_count || '0'}}
                            </div>
                            <div class="col-6">
                                donations amount: {{(donationsDetail.donations_sum?.donations_sum || 0) | currency:
                                'EUR': 'symbol': '1.0-2' :'sk'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="col">
                            <h4>First donation</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"
                                 [title]="(donationsDetail.first_donation?.payment.transaction_date | date:'dd.MM.yyyy HH:mm:ss') || 'user did not supported yet'">
                                date: {{(donationsDetail.first_donation?.payment.transaction_date | date:'dd.MM.yyyy')
                                || '---'}}
                            </div>
                            <div class="col-6">
                                amount: {{(donationsDetail.first_donation?.payment.amount || 0) | currency: 'EUR':
                                'symbol': '1.0-2' :'sk'}}
                            </div>
                            <div class="col-12">
                                <span class="clickable"
                                    (click)="showMoreFirst = !showMoreFirst">{{showMoreFirst ? 'less':'show more'}}</span>
                            </div>
                            <app-donation-detail-simplified class="col-12" *ngIf="showMoreFirst"
                                                            [donation]="donationsDetail.first_donation"></app-donation-detail-simplified>
                        </div>
                    </div>
                    <hr>
                    <div class="card-header">
                        <div class="col">
                            <h4>Last donation {{daysAgo()}}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"
                                 [title]="(donationsDetail.last?.payment.transaction_date | date:'dd.MM.yyyy HH:mm:ss') || 'user did not supported yet'">
                                date: {{(donationsDetail.last?.payment.transaction_date | date:'dd.MM.yyyy') || '---'}}
                            </div>
                            <div class="col-6">
                                amount: {{(donationsDetail.last?.payment.amount || 0) | currency: 'EUR': 'symbol':
                                '1.0-2' :'sk' }}
                            </div>
                            <div class="col-12">
                                <span class="clickable"
                                    (click)="showMoreLast = !showMoreLast">{{showMoreLast ? 'less':'show more'}}</span>
                            </div>
                            <app-donation-detail-simplified class="col-12" *ngIf="showMoreLast"
                                                            [donation]="donationsDetail.last"></app-donation-detail-simplified>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-loading [isLoading]="loading"></app-loading>
        <div class="row pt-2">
            <app-table-donations class="col-12 position-relative overflow-visible"
                                 [title]="'Donations'" [from]="from" [to]="to" [dataType]="'portalUser'" [id]="id"
                                 [disabledDate]="false">
            </app-table-donations>
        </div>
    </div>
    <br/>
</div>