<div class="dragAndDrop--container" [class]="clazz">
    <app-alert [type]="'danger'" [message]="alertMessage" [(open)]="alertOpen"></app-alert>
    <p>Select image</p>

    <div
            (dragover)="dragOver = true"
            (dragleave)="dragOver = false"
            (drop)="onDropImage()"
            [class]="(dragOver) ? 'dragAndDrop--section active' : 'dragAndDrop--section'"
            [ngStyle]="{'background-image': 'url(' + fileData.url + ')'}"
    >
        <app-loading [isLoading]="loading"></app-loading> <span *ngIf="loading">Uploading...</span>
        <div [class]="(fileData != null ? 'dragAndDrop--section--overlay active' : 'dragAndDrop--section--overlay')"></div>
        <span *ngIf="!loading" [class]="(fileData ? 'imageLoaded' : '')">
                <img src="assets/images/icons/add.svg"/>
                Drag and drop image or select file
        </span>
        <input
                type="file"
                name="background"
                (change)="onFileChange($event)"
                accept="image/x-png,image/gif,image/jpeg"
        />
    </div>
    <p class="dragAndDrop--recommended">
        Please prepare image and then upload image. Resizing during uploading is currently not supported.
    </p>
</div>
