@import "../../sass/variables";
@import "../../sass/mixins";

.login {
  background: $aquaHaze;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  width: 100%;
  &--wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    form {
      color: $outer-space;
      margin: 0 auto;
      text-align: left;
      background: $white;
      width: 100%;
      max-width: 350px;
      height: 457px;
      padding: 50px 40px 40px;
      @include borderRadius(4px);
      @include boxShadow(10px 10px 15px rgba($azure, .05));
      p {
        font-weight: bold;
        font-size: 14px;
      }
      label {
        margin: 15px 0 0;
        font-weight: bold;
        font-size: 15px;
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      input {
        border: none;
        outline: none;
        padding: 10px 0;
        display: block;
        width: 100%;
        font-size: 16px;
        @include transitionSingle(.5s ease);
        &::placeholder {
          font-style: italic;
          color: $gullGray;
        }
        border-bottom: 1px solid $geyser;
        &:focus {
          border-bottom: 1px solid $azure;
        }

      }
      span {
        &.forgotPass {
          font-size: 12px;
          cursor: pointer;
          color: $bali;
          margin-top: 5px;
          @include transitionSingle(.3s ease);
          &:hover {
            color: $azure;
          }
        }
      }
      button {
        cursor: pointer;
        float: right;
        border: none;
        outline: none;
        &[type="submit"] {
          background: $azure;
          color: $white;
          text-transform: uppercase;
          @include boxShadow(0 3px 6px rgba($black, .16));
          @include borderRadius(4px);
          padding: 13px 22px;
          width: auto;
          font-size: 15px;
          font-weight: bold;
          @include transitionSingle(.3s ease);
          margin-top: 56px;
          &:hover {
            background: $outer-space;
          }
        }
        &.f-password {
          font-size: 12px;
          margin-top: 10px;
          display: block;
          background: transparent;
          outline: none;
          border: none;
          color: #ffffff;
          text-decoration: underline;
          padding: 0;
          float: right;
        }
      }
    }
  }

}
