/* You can add global styles to this file, and also import other style files */
@import "./sass/variables";
@import "./sass/mixins";
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&subset=latin-ext');

/* set the overriding variables */
$grid-breakpoints: (
        xxxs: 0,
        xxs: 320px,
        xs: 568px,
        sm: 667px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        xxxl: 1600px
);

$container-max-widths: (
        xxxs: 0,
        xxs: 320px,
        xs: 568px,
        sm: 667px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        xxxl: 1600px
);

@import '~bootstrap/scss/bootstrap.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: Lato, 'sans-serif' !important;
  @import "./sass/variables";
  @import "./sass/mixins";
  background: $aquaHaze;
  overflow-y: hidden;
  height: 100vh;

  #crowd-content {
    overflow-y: auto;
    margin: 0;
    &.withStatistics {
      margin: 0 15px;
      overflow: auto;
      height: calc(100vh - 240px);
      padding: 0 0 40px 0;
    }
  }
  .bg-overlay {
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba($outer-space, .66);
    position: absolute;
    z-index: 98;
    display: none;
    @include transitionSingle(.3s ease);
    &.active {
      display: block;
    }
  }

  .actionIcon {
    cursor: pointer;
    fill: $bali;
    @include transitionSingle(.3s ease);
    &:hover {
      fill: $azure;
    }
  }
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: initial;
}

/*
 *  STYLE 4
 */

::-webkit-scrollbar-track
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba($outer-space,.3);
  background-color: $aquaHaze;
}

::-webkit-scrollbar
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba($outer-space,.3);
  background-color: $aquaHaze;
}

::-webkit-scrollbar-thumb
{
  background-color: $bali;
  border: 2px solid $bali;
  border-radius: 10px;
}



@import "sass/listItems";
@import "sass/buttons";
@import "sass/inputs";
@import "sass/texts";
@import "sass/tabs";
