<div *ngIf="campaignId" class="active bg-overlay"></div>
<div class="preview" [ngClass]="class" [style.display]="(show) ? 'block' : 'none'">
  <span (click)="closePreview()"
        class="actionIcon btn-close"
        title="Delete"
        [inlineSVG]="'assets/images/icons/preview_close.svg'"
  ></span>
    <div class="header container">
        <div class="row">
            <div class="col-3 vertical-align">
                PREVIEW MODE
            </div>
            <div class="col-2 offset-2 vertical-align">
                <ng-container *ngIf="campaignId">
                    <app-radio-button-group [radioButtons]="deviceTypeButtons" [(currentValue)]="deviceType" [class]="'small'">
                    </app-radio-button-group>
                </ng-container>
            </div>
            <div class="col-1 offset-2 flex-center">
                <label for="scale">Scale</label>
            </div>
            <div class="col-2">
                <app-inputNumber id="scale"
                                 [(value)]="scale"
                                 [class]="'float-right'">
                </app-inputNumber>
            </div>
        </div>
    </div>

    <div *ngIf="campaignId" class="tabs">
        <button *ngFor="let wid of widgets" type="button" [class]="(widget == wid) ? 'active' : ''"
                (click)="changeWidget(wid)">{{wid.widget_type.name}}
        </button>
    </div>

    <app-loading [isLoading]="loading">
    </app-loading>

    <!--<iframe #pagePreview [src]="'https://postoj.ondas.me/' | safe "  width="100%" height="400px">-->

    <!--</iframe>-->

    <!-- iframe encapsulated TODO -->
    <iframe [ngStyle]="{'transform': 'scale('+scale/100+')'}" [hidden]="loading" #iframe frameborder="0" width="100%" height="100%" class="{{deviceType}}"></iframe>
    <div #preview [ngModel]="changePreview(preview)" style="display:none" name="preview" ngDefaultControl>
        <link [href]="'https://fonts.googleapis.com/css?family=' + fontFamilyPreview | safe" rel="stylesheet">
        <div class="cft--background" [ngStyle]="getBackgroundStyle()" [id]="'cr0wdWidgetContent-'+widget.widget_type.method">
            <div class="cft--overlay" [ngStyle]="getOverlayStyle()"></div>
            <div class="cft--body" [ngStyle]="getBodyStyle()">
                <div class="cft--text-container"  [ngStyle]="getTextContainerStyle()">
                    <div class="cft--headline-text" [ngStyle]="getHeadlineTextStyle()" [innerHTML]="widget.settings[deviceType].headline_text">
                    </div>
                    <div class="cft--additional-text" [ngStyle]="getAdditionalTextStyle()" [innerHTML]="widget.settings[deviceType].widget_settings.additional_text?.text">
                    </div>
                </div>
                <!-- CTA -->
                <div class="cft--button-container" [ngStyle]="getButtonContainerStyles()">
                    <a class="cft--button"
                       [ngStyle]="getButtonStyles()"
                       href="{{widget.settings[deviceType].cta.url}}">
                        {{widget.settings[deviceType].cta.text}}
                    </a>
                </div>
            </div>
        </div>
        <div id="styles">
        </div>
    </div>
</div>
