<div class="card stats-wrapper">
  <div class="card-header bg-white">
    <div class="stats-title">
      <span>{{widget.widget_type.name}}</span>
      <app-switcher [(checked)]="widget.active" (checkedChange)="toggleActive(widget)" [id]="id" class="float-right"></app-switcher>
    </div>
    <div class="font-italic fs12">
      Last edited:
    </div>
    <div class="font-italic fs12">
      {{lastEdited}}
    </div>
  </div>
  <div class="card-body">
    <div class="stats-value">
      <div *ngIf="percentage" class="m-auto text-center">
        <circle-progress
          [percent]="85"
          [radius]="60"
          [outerStrokeWidth]="24"
          [outerStrokeColor]="'#0074E9'"
          [innerStrokeColor]="'#C7E596'"
          [showInnerStroke]="false"
          [showSubtitle]="false"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
      </div>
      <div *ngIf="!percentage" class="text-center">
        <span class="fs12">Crowdfunded</span>
        <p class="fs24 font-weight-bold">{{2 | numbersk : true}}</p>
      </div>
    </div>
    <div class="row mt25 mb25">
      <div class="col-sm-4">
        <div class="info-container">
          <div class="info-container--header">
            Views
          </div>
          <div class="info-container--footer">
            {{999 | numbersk}}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-container">
          <div class="info-container--header">
            Clicks
          </div>
          <div class="info-container--footer">
            {{999 | numbersk}}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info-container">
          <div class="info-container--header">
            Engagement
          </div>
          <div class="info-container--body">
            {{99 | numbersk}}%
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row stats-actions">
      <div class="col-sm-12">
        <span title="Preview" class="pr-4 stats-actions--button" (click)="previewCampaign()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g id="preview_24px" transform="translate(-1736 -136)">
              <rect id="safe_area" data-name="safe area" width="24" height="24"
                    transform="translate(1736 136)"
                    fill="#f2f1ef" opacity="0"/>
              <g id="eye" transform="translate(1740 44.275)">
                <path id="Path_40" data-name="Path 40"
                      d="M8,98.725a9.981,9.981,0,0,0-7.875,4.389.633.633,0,0,0,0,.756A9.976,9.976,0,0,0,8,108.262a9.981,9.981,0,0,0,7.875-4.389.633.633,0,0,0,0-.756A9.976,9.976,0,0,0,8,98.725Zm.219,8.127a3.365,3.365,0,1,1,3.139-3.139A3.367,3.367,0,0,1,8.219,106.852Zm-.1-1.551a1.812,1.812,0,1,1,1.692-1.692A1.809,1.809,0,0,1,8.118,105.3Z"
                      transform="translate(0)" fill="#8aa1b1"/>
              </g>
            </g>
          </svg>
          Preview
        </span>
        <span title="Edit" class="stats-actions--button" (click)="editWidget()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g id="edit_24px" transform="translate(-1816 -136)">
              <rect id="safe_area" data-name="safe area" width="24" height="24"
                    transform="translate(1816 136)"
                    fill="#f2f1ef" opacity="0"/>
              <g id="icon" transform="translate(246 20)">
                  <path id="Path_30" data-name="Path 30"
                        d="M0,12.621V16H3.378l9.778-9.867L9.778,2.755ZM15.733,3.555a.859.859,0,0,0,0-1.244L13.689.266a.859.859,0,0,0-1.244,0l-1.6,1.6,3.378,3.378Z"
                        transform="translate(1574 120.001)" fill="#8aa1b1"/>
              </g>
            </g>
          </svg>
          Edit
        </span>
      </div>
    </div>
  </div>
</div>
