<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h2>{{title}}</h2>
        </div>
        <div class="col-3 d-flex align-items-center">
            from:
            <app-datepicker
                [(date)]="from"
                [maxDate]="to"
                [type]="'start'"
                [disabled]="true">
            </app-datepicker>
        </div>
        <div class="col-3 d-flex align-items-center">
            to:
            <app-datepicker
                [(date)]="to"
                [minDate]="from"
                [type]="'end'"
                [disabled]="true">
            </app-datepicker>
        </div>
    </div>
</div>
<table class="list-items list-items--orderable">
    <thead>
    <tr>
        <th class="id">#</th>
        <th app-table-header *ngFor="let column of model.columns"
            [column]="column" [(model)]="model"
            (modelChange)="sortTable()"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let portalUser of sortedPortalUsers; let i = index" class="list-items--item">
        <td>{{i+1}}</td>
        <td class="pointer" [routerLink]="['/'+ routing.PORTAL_USERS_FULL_PATH, portalUser.id]">
            {{portalUser.user.user_detail?.first_name}} {{portalUser.user.user_detail?.last_name}}
        </td>
        <td>
            {{portalUser.last_donation_value | currency: 'EUR': 'symbol': '1.0-2':'sk'}}
        </td>
        <td>
            {{portalUser.last_donation_monthly | monthly}}
        </td>
        <td>
            {{portalUser.last_donation_at | date:'dd.MM.yyyy'}}
        </td>
        <td>
            {{portalUser.last_donation_payment_method}}
        </td>
        <td>
            {{portalUser.first_donation_at}}
        </td>
        <td>
            {{portalUser.amount_sum | currency: 'EUR': 'symbol': '1.0-2' :'sk'}}
        </td>
    </tr>
    </tbody>
</table>
<app-loading [isLoading]="loading"></app-loading>