<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{title}}
                <ng-container *ngIf="enablePortalUsersCount && !loading">({{portalUsersCount}})</ng-container>
            </h2>
        </div>
        <ng-container *ngIf="showDates">
            <div class="col-3 d-flex align-items-center">
                from:
                <app-datepicker
                    [(date)]="from"
                    [maxDate]="to"
                    [type]="'start'"
                    [disabled]="true">
                </app-datepicker>
            </div>
            <div class="col-3 d-flex align-items-center">
                to:
                <app-datepicker
                    [(date)]="to"
                    [minDate]="from"
                    [type]="'end'"
                    [disabled]="true">
                </app-datepicker>
            </div>
        </ng-container>
        <div class="col-3">
            <ngx-select-dropdown [(ngModel)]="model.columns"
                                 [multiple]="true" [config]="config"
                                 [options]="availableColumns"></ngx-select-dropdown>
        </div>
    </div>
</div>
<table class="list-items list-items--orderable">
    <thead>
    <tr>
        <th class="id">#</th>
        <th app-table-header *ngFor="let column of model.columns"
            [column]="column" [(model)]="model"
            (modelChange)="sortTable()"></th>
    </tr>
    </thead>
    <tbody *ngIf="!loading">
    <tr *ngFor="let portalUser of sortedPortalUsers; let i = index" class="list-items--item">
        <td>{{i+1}}</td>
        <td *ngIf="activeColumn('todo1')">
            todo1
        </td>
        <td *ngIf="activeColumn('user.email')">
            {{portalUser.user.email}}
        </td>
        <td *ngIf="activeColumn('user.user_detail.last_name')" class="pointer"
            [routerLink]="['/'+ routing.PORTAL_USERS_FULL_PATH, portalUser.user.id]">
            {{portalUser.user.user_detail?.first_name}} {{portalUser.user.user_detail?.last_name}}
        </td>
        <td *ngIf="activeColumn('amount_sum')">
            {{portalUser.amount_sum | currency: 'EUR': 'symbol': '1.0-2' :'sk'}}
        </td>
        <td *ngIf="activeColumn('todo2')">
            todo2
        </td>
        <td *ngIf="activeColumn('user.user_detail.created_at')">
            {{portalUser.user.user_detail.created_at | date:'dd.MM.yyyy'}}
        </td>
        <td *ngIf="activeColumn('todo3')">
           todo
        </td>
        <td *ngIf="activeColumn('todo4')">
            todo
        </td>
        <td *ngIf="activeColumn('todo5')">
            todo
        </td>
        <td *ngIf="activeColumn('todo6')">
            todo
        </td>
        <td *ngIf="activeColumn('todo7')">
            todo
        </td>
        <td *ngIf="activeColumn('todo8')">
            todo
        </td>

    </tr>
    </tbody>
</table>
<h4 *ngIf="!loading && sortedPortalUsers.length===0"
    class="text-center"> No users found </h4>
<app-loading [isLoading]="loading"></app-loading>

<div *ngIf="!loading && limit < portalUsersCount" class="container">
    <div class="row">
        <div class="col">
            <span class="clickable" (click)="showMore()">show more</span>
        </div>
    </div>
</div>