<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>{{title}}
                <ng-container *ngIf="enablePortalUsersCount && !loading">({{portalUsersCount}})</ng-container>
            </h2>
        </div>
        <div class="col mx-auto" *ngIf="export">
            <div class="text-center">
                <app-export-csv
                        [title]="exportTitle"
                        [exportFrom]="from"
                        [exportTo]="to"
                        [exportType]="exportType"
                        [fileName]="exportFileName"
                        (loadingEmitter)="exportLoading($event)"
                        (resultEmitter)="export2Csv($event)"></app-export-csv>
            </div>
        </div>
        <ng-container *ngIf="showDates">
            <div class="col-3 d-flex align-items-center">
                from:
                <app-datepicker
                        [(date)]="from"
                        [maxDate]="to"
                        [type]="'start'"
                        [disabled]="true">
                </app-datepicker>
            </div>
            <div class="col-3 d-flex align-items-center">
                to:
                <app-datepicker
                        [(date)]="to"
                        [minDate]="from"
                        [type]="'end'"
                        [disabled]="true">
                </app-datepicker>
            </div>
        </ng-container>
        <div class="col-3 d-flex align-items-center">
            <ngx-select-dropdown [(ngModel)]="model.columns"
                                 [multiple]="true" [config]="config"
                                 [options]="availableColumns"></ngx-select-dropdown>
        </div>
    </div>
    <app-alert
            [(open)]="alertOpen"
            [message]="alertMessage"
            [type]="alertType"></app-alert>
    <div class="row">
        <div class="col">
            <table class="list-items list-items--orderable">
                <thead>
                <tr>
                    <th app-table-header class="id" *ngIf="tableService.activeColumn(model,'order')"
                        [column]="tableService.getColumnByValueName(model,'order')"
                        [(model)]="model" (modelChange)="sortTable()">#
                    </th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'status')"
                        [column]="tableService.getColumnByValueName(model,'status')"
                        [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'user.email')"
                        [column]="tableService.getColumnByValueName(model,'user.email')"
                        [(model)]="model" (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'user.user_detail.last_name')"
                        [column]="tableService.getColumnByValueName(model,'user.user_detail.last_name')"
                        [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'amount_sum')"
                        [column]="tableService.getColumnByValueName(model,'amount_sum')"
                        [(model)]="model" (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'todo1')"
                        [column]="tableService.getColumnByValueName(model,'todo1')"
                        [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'user.user_detail.created_at')"
                        [column]="tableService.getColumnByValueName(model,'user.user_detail.created_at')"
                        [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'last_donation_at')"
                        [column]="tableService.getColumnByValueName(model,'last_donation_at')" [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'user.updated_at')"
                        [column]="tableService.getColumnByValueName(model,'user.updated_at')"
                        [(model)]="model" (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'campaign_name')"
                        [column]="tableService.getColumnByValueName(model,'campaign_name')" [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'user.id')"
                        [column]="tableService.getColumnByValueName(model,'user.id')"
                        [(model)]="model" (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'variable_symbol.variable_symbol')"
                        [column]="tableService.getColumnByValueName(model,'variable_symbol.variable_symbol')"
                        [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'todo6')"
                        [column]="tableService.getColumnByValueName(model,'todo6')"
                        [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'is_monthly_donor')"
                        [column]="tableService.getColumnByValueName(model,'is_monthly_donor')" [(model)]="model"
                        (modelChange)="sortTable()"></th>
                    <th app-table-header *ngIf="tableService.activeColumn(model,'todo8')"
                        [column]="tableService.getColumnByValueName(model,'todo8')"
                        [(model)]="model"
                        (modelChange)="sortTable()"></th>

                </tr>
                </thead>
                <tbody *ngIf="!loading">
                <tr *ngFor="let portalUser of sortedPortalUsers; let i = index" class="list-items--item"
                    (click)="showUserDetail(portalUser.user.id)" title="Show detail of donor">
                    <td *ngIf="tableService.activeColumn(model,'order')">{{i + 1}}</td>
                    <td *ngIf="tableService.activeColumn(model,'status')">
                        <app-status [active]="portalUser.last_donation_at!=null"></app-status>
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'user.email')">
                        {{portalUser.user.email}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'user.user_detail.last_name')" class="pointer"
                        [routerLink]="['/'+ routing.PORTAL_USERS_FULL_PATH, portalUser.id]">
                        {{portalUser.user.user_detail?.first_name}} {{portalUser.user.user_detail?.last_name}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'amount_sum')">
                        {{portalUser.amount_sum | currency: 'EUR': 'symbol': '1.0-2' :'sk'}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'todo1')">
                        todo
                    </td>
                    <td [title]="portalUser.user.user_detail.created_at | date:'dd.MM.yyyy HH:mm:ss'"
                        *ngIf="tableService.activeColumn(model,'user.user_detail.created_at')">
                        {{portalUser.user.user_detail.created_at | date:'dd.MM.yyyy'}}
                    </td>
                    <td [title]="portalUser.last_donation_at | date:'dd.MM.yyyy HH:mm:ss'"
                        *ngIf="tableService.activeColumn(model,'last_donation_at')">
                        {{portalUser.last_donation_at | date:'dd.MM.yyyy'}}
                    </td>
                    <td [title]="portalUser.user.updated_at | date:'dd.MM.yyyy HH:mm:ss'"
                        *ngIf="tableService.activeColumn(model,'user.updated_at')">
                        {{portalUser.user.updated_at | date:'dd.MM.yyyy'}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'campaign_name')">
                        {{portalUser.campaign_name}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'user.id')">
                        {{portalUser.user.user_detail.id}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'variable_symbol.variable_symbol')">
                        {{portalUser.variable_symbol.variable_symbol}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'todo6')">
                        todo6
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'is_monthly_donor')">
                        {{portalUser.is_monthly_donor | monthly}}
                    </td>
                    <td *ngIf="tableService.activeColumn(model,'todo8')">
                        todo8
                    </td>
                </tr>
                </tbody>
            </table>

            <h4 *ngIf="!loading && sortedPortalUsers.length===0"
                class="text-center"> No users found </h4>
            <app-loading [isLoading]="loading"
                         [extraText]="(exportCsvLoading) ? 'Please wait, generating csv file with type <b>' + exportType + '</b>...<br /> ' +
   'Take a <b>coffee break</b>, it may take few minutes.<br />Once the process is done, you\'ll get message about it.' : ''"
            ></app-loading>

            <div *ngIf="!loading && limit < portalUsersCount" class="container">
                <div class="row">
                    <div class="col">
                        <span class="clickable" (click)="showMore()">show more</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>