<div class="campaign-settings-content container-fluid">

    <div class="collapse-container" [ngClass]="{'flex-open':isOpened(1)}">
        <div class="row collapsible--header" (click)="openTab(1)">
            <div class="col-sm-11">
                GENERAL
            </div>
            <div class="col-sm-1">
                <label class="button-expand"
                       type="button"
                       [attr.aria-expanded]="isOpened(1)" aria-controls="general-settings">
                </label>
            </div>
        </div>
        <div class="row card-wrapper" [ngbCollapse]="!isOpened(1)">
            <div class="row  bold">
                Font settings
            </div>
            <div class="row mt-3">
                <div class="col-8">
                    <app-dropdown [items]="fontFamily"
                                  [class]="'classic default-border'"
                                  [title]="'Choose font family'"
                                  [(currentValue)]="campaign.widget_settings.general.fontSettings.fontFamily">
                    </app-dropdown>
                </div>
                <div class="col-2 vertical-align">
                    Font weight
                </div>
                <div class="col-2">
                    <app-dropdown [items]="fontWeight"
                                  [class]="'classic default-border align-right'"
                                  [title]="'weight'"
                                  [(currentValue)]="campaign.widget_settings.general.fontSettings.fontWeight">
                    </app-dropdown>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-2 vertical-align">
                    Alignment
                </div>
                <div class="col-2 vertical-align">
                    <app-radio-button-group
                            [(currentValue)]="campaign.widget_settings.general.fontSettings.alignment"
                            [radioButtons]="radioButtons"
                    >
                    </app-radio-button-group>
                </div>
                <div class="col-2 vertical-align">
                    Color
                </div>
                <div class="col-2">
                    <input [value]="campaign.widget_settings.general.fontSettings.color"
                           class="btn color-picker--custom"
                           [style.background]="campaign.widget_settings.general.fontSettings.color"
                           [cpPosition]="'bottom'"
                           [(colorPicker)]="campaign.widget_settings.general.fontSettings.color"/>
                </div>
                <div class="col-2 vertical-align">
                    Size (px)
                </div>
                <div class="col-2">
                    <app-inputNumber [(value)]="campaign.widget_settings.general.fontSettings.fontSize"
                                     [class]="'float-right'">
                    </app-inputNumber>
                </div>
            </div>
            <div class="row mt-3 bold">
                <div class="col-4 vertical-align">
                    Text background
                </div>
                <div class="col-6">
                    <input [value]="campaign.widget_settings.general.text_background"
                           class="btn color-picker--custom"
                           [style.background]="campaign.widget_settings.general.text_background"
                           [cpPosition]="'bottom'"
                           [(colorPicker)]="campaign.widget_settings.general.text_background"/>
                </div>
            </div>
            <div class="row mt-3 bold">
                <div class="col-2 vertical-align">
                    Background
                </div>
            </div>
            <div class="row mt-3">
                <app-radio-button class="col"
                                  [radioButtons]="backgroundTypesButtons"
                                  [(currentValue)]="campaign.widget_settings.general.background.type"
                                  [colClass]="'col'"></app-radio-button>
            </div>
            <div class="row mt-3">
                <app-dragAndDrop
                        [(fileData)]="campaign.widget_settings.general.background.image"
                        class="col"
                        *ngIf="campaign.widget_settings.general.background.type == backgroundTypes.image.value ||
                               campaign.widget_settings.general.background.type == backgroundTypes.imageOverlay.value">
                </app-dragAndDrop>
            </div>
            <div class="row mt-3"
                 *ngIf="campaign.widget_settings.general.background.type == backgroundTypes.color.value ||
                  campaign.widget_settings.general.background.type == backgroundTypes.imageOverlay.value">
                <div class="col-2 vertical-align">
                    Pick color
                </div>
                <div class="col-6">
                    <input [value]="campaign.widget_settings.general.background.color"
                           class="btn color-picker--custom"
                           [style.background]="campaign.widget_settings.general.background.color"
                           [cpPosition]="'top'"
                           [(colorPicker)]="campaign.widget_settings.general.background.color"/>
                </div>
                <div class="col-2 vertical-align">
                    Opacity (%)
                </div>
                <div class="col-2 ">
                    <app-inputNumber [(value)]="campaign.widget_settings.general.background.opacity"
                                     [class]="'float-right'">
                    </app-inputNumber>
                </div>
            </div>
            <div class="row mt-3">
                <app-checkbox [name]="'Add text (used specificaly in XYZ widget)'"
                              [(checked)]="campaign.widget_settings.general.common_text.active"></app-checkbox>
            </div>
            <div class="row mt-3" *ngIf="campaign.widget_settings.general.common_text.active">
                <div class="col">
                    <textarea name="textarea" rows="5" class="default-border"
                              [(ngModel)]="campaign.widget_settings.general.common_text.value"></textarea>
                    <span class="actualLength">  {{campaign.widget_settings.general.common_text.value.length}}  / 500 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse-container" [ngClass]="{'flex-open':isOpened(2)}">
        <div class="row collapsible--header" (click)="openTab(2)">
            <div class="col-sm-11">
                CALL TO ACTION BUTTON
            </div>
            <div class="col-sm-1">
                <label class="button-expand"
                       type="button"
                       [attr.aria-expanded]="isOpened(2)" aria-controls="general-settings">
                </label>
            </div>
        </div>
        <div class="row card-wrapper m-0">
            <div class="col pl-0 pr-0">
                <div id="call-to-action" [ngbCollapse]="!isOpened(2)">
                    <div class="card" style="border: none">
                        <div class="card-body">
                            <div class="row">
                                <div class="btn-group-vertical" style="width: 100%">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button"
                                                (click)="cta='Default'"
                                                [class]="(cta == 'Default') ? 'btn active' : 'btn'">Default
                                        </button>
                                        <button type="button" (click)="cta='Hover'"
                                                [class]="(cta == 'Hover') ? 'btn active' : 'btn'">Hover
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="cta=='Default'">
                                <div class="row mt-3 bold">
                                    Padding & margins
                                </div>
                                <div class="row p-0 mt-3">
                                    <div class="col pr-4">
                                        <div class="row p-0">
                                            Padding
                                        </div>
                                        <div class="row p-0 mt-3">
                                            <app-input-group [buttons]="paddingButtons"
                                                             (buttonChange)="campaign.widget_settings.call_to_action.default.padding[$event.name] = $event.value">

                                            </app-input-group>
                                        </div>
                                    </div>
                                    <div class="col pl-4">
                                        <div class="row p-0">
                                            Margin
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col">
                                                <app-input-group [buttons]="marginButtons"
                                                                 (buttonChange)="campaign.widget_settings.call_to_action.default.margin[$event.name] = $event.value">
                                                </app-input-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  mt-3 bold">
                                    Font settings
                                </div>
                                <div class="row mt-3 p-0">
                                    <div class="col-8 p-0">
                                        <app-dropdown [items]="fontFamily"
                                                      [class]="'classic default-border'"
                                                      [title]="'Choose font family'"
                                                      [(currentValue)]="campaign.widget_settings.call_to_action.default.fontSettings.fontFamily"
                                        >
                                        </app-dropdown>
                                    </div>
                                    <div class="col vertical-align pl-3">
                                        Font weight
                                    </div>
                                    <div class="col">
                                        <app-dropdown [items]="fontWeight"
                                                      [class]="'classic default-border align-right'"
                                                      [title]="'weight'"
                                                      [(currentValue)]="campaign.widget_settings.call_to_action.default.fontSettings.fontWeight">
                                        </app-dropdown>
                                    </div>

                                </div>
                                <div class="row  mt-3 p-0">
                                    <div class="col-2 p-0 vertical-align">
                                        Alignment
                                    </div>
                                    <div class="col-2 p-0 vertical-align">
                                        <app-radio-button-group
                                                [(currentValue)]="campaign.widget_settings.call_to_action.default.fontSettings.aligment"
                                                [radioButtons]="radioButtons"
                                        >
                                        </app-radio-button-group>
                                    </div>
                                    <div class="col-2 vertical-align">
                                        Color
                                    </div>
                                    <div class="col-2 p-0 ">
                                        <input [value]="campaign.widget_settings.call_to_action.default.fontSettings.color"
                                               class="btn color-picker--custom"
                                               [style.background]="campaign.widget_settings.call_to_action.default.fontSettings.color"
                                               [cpPosition]="'top'"
                                               [(colorPicker)]="campaign.widget_settings.call_to_action.default.fontSettings.color"/>
                                    </div>
                                    <div class="col-2 vertical-align pl-3">
                                        Size (px)
                                    </div>
                                    <div class="col-2">
                                        <app-inputNumber
                                                [(value)]="campaign.widget_settings.call_to_action.default.fontSettings.fontSize"
                                                [class]="'float-right'">
                                        </app-inputNumber>
                                    </div>
                                </div>
                                <div class="row mt-3 p-0">
                                    Design
                                </div>
                                <div class="row mt-3 p-0 bold">
                                    Hover
                                </div>
                                <div class="row mt-3 p-0 ">
                                    <div class="col-2 pl-0">
                                        <app-checkbox [name]="'Fill'"
                                                      [(checked)]="campaign.widget_settings.call_to_action.default.design.fill.active">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="campaign.widget_settings.call_to_action.default.design.fill.active">
                                        <div class="col-6 pr-0">
                                            <input [value]="campaign.widget_settings.call_to_action.default.design.fill.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="campaign.widget_settings.call_to_action.default.design.fill.color"
                                                   [cpPosition]="'top'"
                                                   [(colorPicker)]="campaign.widget_settings.call_to_action.default.design.fill.color"/>
                                        </div>
                                        <div class="col-2 vertical-align pl-4">
                                            Opacity (%)
                                        </div>
                                        <div class="col-2 pr-0">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.default.design.fill.opacity"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row mt-3 p-0">
                                    <div class="col-2 pl-0">
                                        <app-checkbox [name]="'Border'"
                                                      [(checked)]="campaign.widget_settings.call_to_action.default.design.border.active">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="campaign.widget_settings.call_to_action.default.design.border.active">
                                        <div class="col ">
                                            <input [value]="campaign.widget_settings.call_to_action.default.design.border.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="campaign.widget_settings.call_to_action.default.design.border.color"
                                                   [cpPosition]="'top'"
                                                   [(colorPicker)]="campaign.widget_settings.call_to_action.default.design.border.color"/>
                                        </div>
                                        <div class="col vertical-align">
                                            Size (px)
                                        </div>
                                        <div class="col pr-2">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.default.design.border.size"></app-inputNumber>
                                        </div>
                                        <div class="col vertical-align">
                                            Opacity (%)
                                        </div>
                                        <div class="col pr-0">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.default.design.border.opacity"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row mt-3 p-0">
                                    <div class="col-2 pl-0">
                                        <app-checkbox [name]="'Shadow'"
                                                      [(checked)]="campaign.widget_settings.call_to_action.default.design.shadow.active">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="campaign.widget_settings.call_to_action.default.design.shadow.active">
                                        <div class="col">
                                            <input [value]="campaign.widget_settings.call_to_action.default.design.shadow.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="campaign.widget_settings.call_to_action.default.design.shadow.color"
                                                   [cpPosition]="'top'"
                                                   [(colorPicker)]="campaign.widget_settings.call_to_action.default.design.shadow.color"/>
                                        </div>
                                        <div class="col-4 vertical-align pr-2">
                                            <app-input-group [buttons]="shadowButtons"
                                                             (buttonChange)="campaign.widget_settings.call_to_action.default.design.shadow[$event.name] = $event.value">
                                            </app-input-group>
                                        </div>

                                        <div class="col vertical-align">
                                            Opacity (%)
                                        </div>
                                        <div class="col pr-0">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.default.design.shadow.opacity"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row mt-3 bold">
                                    Radius
                                </div>
                                <div class="row mt-3">
                                    <div class="col-2 p-0 vertical-align">
                                        <app-radio-button-group
                                                [(currentValue)]="campaign.widget_settings.call_to_action.default.design.radius.active"
                                                [radioButtons]="radiusButtons">
                                        </app-radio-button-group>
                                    </div>
                                    <ng-container
                                            *ngIf="campaign.widget_settings.call_to_action.default.design.radius.active">
                                        <div class="col-2 offset-2  p-0">

                                            <app-input-group [buttons]="allRadiusesButton"
                                                             (buttonChange)="writeRadiusValue($event.value)"
                                                             [fill]="true"
                                                             [class]="!specificRadius?'active':''"
                                                             (click)="setSpecificRadius(false)">
                                            </app-input-group>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-1 p-0 vertical-align text-right">
                                                    or
                                                </div>
                                                <div class="col-11">
                                                    <app-input-group [buttons]="specificRadiusButtons"
                                                                     (buttonChange)="campaign.widget_settings.call_to_action.default.design.radius[$event.name] = $event.value"
                                                                     [fill]="true"
                                                                     [class]="specificRadius?'active':''"
                                                                     (click)="setSpecificRadius(true)"
                                                    >
                                                    </app-input-group>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="cta=='Hover'">
                                <div class="row mt-3 bold">
                                    Hover type
                                </div>
                                <div class="row mt-3">
                                    <div class="col-8  p-0">
                                        <app-dropdown [class]="'classic default-border'"
                                                      [title]="'Choose hover type'"
                                                      [items]="hoverTypes"
                                                      [(currentValue)]="campaign.widget_settings.call_to_action.hover.type"></app-dropdown>
                                    </div>
                                    <div class="col-4">
                                        <app-button [class]="'btn default-margin'" [label]="'Try me'">
                                        </app-button>
                                    </div>
                                </div>
                                <div class="row mt-3 bold">
                                    Hover font settings
                                </div>
                                <div class="row mt-3">
                                    <div class="col-2 p-0 vertical-align">
                                        Font weight
                                    </div>
                                    <div class="col-4">
                                        <app-dropdown [class]="'classic default-border'"
                                                      [title]="'Choose font weight'"
                                                      [items]="fontWeight"
                                                      [(currentValue)]="campaign.widget_settings.call_to_action.hover.fontSettings.fontWeight">
                                        </app-dropdown>
                                    </div>
                                    <div class="col-2 vertical-align">
                                        Color
                                    </div>
                                    <div class="col-4">
                                        <input [value]="campaign.widget_settings.call_to_action.hover.fontSettings.color"
                                               class="btn color-picker--custom"
                                               [style.background]="campaign.widget_settings.call_to_action.hover.fontSettings.color"
                                               [cpPosition]="'top'"
                                               [(colorPicker)]="campaign.widget_settings.call_to_action.hover.fontSettings.color"/>
                                    </div>
                                </div>
                                <div class="row mt-3 p-0">
                                    Design
                                </div>
                                <div class="row mt-3 p-0 bold">
                                    Hover
                                </div>
                                <div class="row mt-3 p-0 ">
                                    <div class="col-2 pl-0">
                                        <app-checkbox [name]="'Fill'"
                                                      [(checked)]="campaign.widget_settings.call_to_action.hover.design.fill.active">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="campaign.widget_settings.call_to_action.hover.design.fill.active">
                                        <div class="col-6 pr-0">
                                            <input [value]="campaign.widget_settings.call_to_action.hover.design.fill.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="campaign.widget_settings.call_to_action.hover.design.fill.color"
                                                   [cpPosition]="'top'"
                                                   [(colorPicker)]="campaign.widget_settings.call_to_action.hover.design.fill.color"/>
                                        </div>
                                        <div class="col-2 vertical-align pl-4">
                                            Opacity (%)
                                        </div>
                                        <div class="col-2 pr-0">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.hover.design.fill.opacity"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row mt-3 p-0">
                                    <div class="col-2 pl-0">
                                        <app-checkbox [name]="'Border'"
                                                      [(checked)]="campaign.widget_settings.call_to_action.hover.design.border.active">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="campaign.widget_settings.call_to_action.hover.design.border.active">
                                        <div class="col ">
                                            <input [value]="campaign.widget_settings.call_to_action.hover.design.border.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="campaign.widget_settings.call_to_action.hover.design.border.color"
                                                   [cpPosition]="'top'"
                                                   [(colorPicker)]="campaign.widget_settings.call_to_action.hover.design.border.color"/>
                                        </div>
                                        <div class="col vertical-align">
                                            Size (px)
                                        </div>
                                        <div class="col pr-2">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.hover.design.border.size"></app-inputNumber>
                                        </div>
                                        <div class="col vertical-align">
                                            Opacity (%)
                                        </div>
                                        <div class="col pr-0">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.hover.design.border.opacity"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="row mt-3 p-0">
                                    <div class="col-2 pl-0">
                                        <app-checkbox [name]="'Shadow'"
                                                      [(checked)]="campaign.widget_settings.call_to_action.hover.design.shadow.active">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="campaign.widget_settings.call_to_action.hover.design.shadow.active">
                                        <div class="col">
                                            <input [value]="campaign.widget_settings.call_to_action.hover.design.shadow.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="campaign.widget_settings.call_to_action.hover.design.shadow.color"
                                                   [cpPosition]="'top'"
                                                   [(colorPicker)]="campaign.widget_settings.call_to_action.hover.design.shadow.color"/>
                                        </div>
                                        <div class="col-4 vertical-align pr-2">
                                            <app-input-group [buttons]="shadowButtons"
                                                             (buttonChange)="campaign.widget_settings.call_to_action.hover.design.shadow[$event.name] = $event.value">
                                            </app-input-group>
                                        </div>

                                        <div class="col vertical-align">
                                            Opacity (%)
                                        </div>
                                        <div class="col pr-0">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="campaign.widget_settings.call_to_action.hover.design.shadow.opacity"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
