<div [ngClass]="{'sub-inactive': !isActive, 'preview' : previewOpen}" id="sidebar">
    <div>
        <div class="main-items" [ngClass]="{ 'main-items--sub-active': isActive }">
            <div
                    class="item"
                    (click)="showItem(statisticsItemName)">
                <div
                        class="item--icon"
                        [inlineSVG]="'/assets/images/icons/statistics_default.svg'"
                        [removeSVGAttributes]="['fill']"
                        [ngClass]="{'icon--sub-inactive': isActive, 'icon--active': activeItem === statisticsItemName}"
                >
                </div>
                <p *ngIf="!isActive">Statistics</p>
            </div>
            <div
                    class="item"
                    (click)="showItem(connectionsItemName)">
                <div
                        class="item--icon"
                        [inlineSVG]="'/assets/images/icons/connections_default.svg'"
                        [removeSVGAttributes]="['fill']"
                        [ngClass]="{'icon--sub-inactive': isActive, 'icon--active': activeItem === connectionsItemName}"
                >
                </div>
                <p *ngIf="!isActive">Portal connections</p>
            </div>
            <div
                    class="item"
                    (click)="showItem(campaignsItemName)"
                    [routerLink]="routing.CAMPAIGNS_ALL_FULL_PATH"
            >
                <div
                        class="item--icon"
                        [inlineSVG]="'/assets/images/icons/campaigns_default.svg'"
                        [removeSVGAttributes]="['fill']"
                        [ngClass]="{'icon--sub-inactive': isActive, 'icon--active': activeItem === campaignsItemName}"
                >
                </div>
                <p *ngIf="!isActive">Campaigns</p>
            </div>
            <div
                    class="item"
                    (click)="showItem(usersItemName)">
                <div
                        class="item--icon"
                        [inlineSVG]="'/assets/images/icons/users_default.svg'"
                        [removeSVGAttributes]="['fill']"
                        [ngClass]="{'icon--sub-inactive': isActive, 'icon--active': activeItem === usersItemName}"
                >
                </div>
                <p *ngIf="!isActive">Users</p>
            </div>
            <div
                    class="item"
                    (click)="showItem(paymentsItemName)">
                <div
                        class="item--icon"
                        [inlineSVG]="'/assets/images/icons/payment_default.svg'"
                        [removeSVGAttributes]="['fill']"
                        [ngClass]="{'icon--sub-inactive': isActive, 'icon--active': activeItem === paymentsItemName}"
                >
                </div>
                <p *ngIf="!isActive">Payment gateway</p>
            </div>
            <div
                    class="item"
                    (click)="showItem(translationsItemName)">
                <div
                        class="item--icon"
                        [inlineSVG]="'/assets/images/icons/translation_default.svg'"
                        [removeSVGAttributes]="['fill']"
                        [ngClass]="{'icon--sub-inactive': isActive, 'icon--active': activeItem === translationsItemName}"
                >
                </div>
                <p *ngIf="!isActive">Translations</p>
            </div>
        </div>
        <div class="item-content" [ngClass]="{'item-content--active': isActive}">
            <app-sidebar-item *ngIf="activeItem === campaignsItemName" [items]="sidebarItems" ></app-sidebar-item>
        </div>
    </div>
    <div class="sidebar-footer">
        <app-sidebar-footer></app-sidebar-footer>
    </div>
</div>
