/backend/node_modules
/backend/public/hot
/backend/public/storage
/dashboard/node_modules
/dashboard-app/dist
/dashboard-app/package-lock.json
/backend/storage/*.key
/backend/vendor
/.idea
/.vscode
/nbproject
/.vagrant
/backendHomestead.json
/backendHomestead.yaml
/backendnpm-debug.log
/backendyarn-error.log
/backend.phpunit.result.cache
/backend/storage/app/*
/backend/storage/framework/*
/backend/storage/logs/*
/backend/.env
/dashboard-app/src/environments
/dashboard-app/src/keys.ts
/backend/public/css/app.css
/backend/public/js/app.js
/dist