/node_modules
/public/hot
/public/storage
/dashboard/node_modules
/dashboard-app/dist
/dashboard-app/package-lock.json
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
/milestones
/storage/*
.env
/dashboard-app/src/environments
/dashboard-app/src/keys.ts
