<div class="datepicker">
    <span
            [inlineSVG]="'/assets/images/icons/date_' + type + '.svg'"
            (click)="d.toggle()"
    ></span>
    <input
            readonly
            class="datepicker--input"
            placeholder="DD.MM.YYYY"
            name="dp"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [displayMonths]="displayMonths"
            [navigation]="navigation"
            [outsideDays]="outsideDays"
            [showWeekNumbers]="showWeekNumbers"
            ngbDatepicker #d="ngbDatepicker"
            [(ngModel)]="date"
            (ngModelChange)="changeEvent()"
            (click)="d.toggle()"
            [disabled]="disabled"
    />
</div>
