.datepicker {
  cursor: pointer;
  display: inline-block;
  span {
    padding-right: 10px;
    ::ng-deep svg {
      margin-top: -2px;
    }

  }
  input {
    border: none;
    outline: none;
    cursor: pointer;
    width: 140px;
  }
}

