@import 'variables';
@import 'mixins';
input[type="file"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

button {
  padding: 15px 30px 15px 65px;
  border: none;
  outline: none;
  background: rgba($azure, .7);
  color: $white;
  position: relative;
  &:hover {
    background: $azure;
  }
  &:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 30px;
    background-image: url('/assets/images/icons/upload.svg');
  }
}