<div class="campaigns-list d-flex flex-column">
  <app-breadcrumbs
  [pageTitle]="pageTitle">

    <app-dropdown
      style="flex: 0 1 189px"
      name="selectSomething"
      (currentValueChange)="redirectToCampaign($event)"
      [items]="dropdownItems"
      [title]="'Choose campaign'"
      class="classic mr15"></app-dropdown>

  <app-button
    (onClick)="this.router.navigateByUrl(routing.CAMPAIGNS_ALL_FULL_PATH+'/('+routing.RIGHT_OUTLET+':'+routing.NEW+')')"
    type="button"
    iconName="add"
    label="New campaign"
    class="classic"></app-button>
</app-breadcrumbs>
<app-alert [(open)]="alertOpen" [type]="alertType" [message]="alertMessage"></app-alert>
<div id="crowd-content">

  <table class="list-items">
    <thead>
    <tr>
      <th>Active</th>
      <th>Campaign name</th>
      <th>Targeting</th>
      <th>Views</th>
      <th>Funds (€)</th>
      <th>Finish</th>
      <th></th>
    </tr>
    </thead>
    <ng-container *ngIf="!loading">
      <tbody app-list-item [items]="campaigns" (loadingEmitter)="loading = $event" (emitter)="receiveDataFromChild($event)" (activeEmitter)="handleActiveEmitter($event)"
             (previewEmitter)="showPreview($event)" (itemDetailEmitter)="redirectCampaignDetail($event)">
      </tbody>
    </ng-container>
  </table>
</div>

<app-loading [isLoading]="loading"></app-loading>
<h4 *ngIf="noCampaigns"> No campaigns found, please create new one </h4>
<router-outlet name="right"></router-outlet>

  <app-preview *ngIf="previewOpen" [class]="'fullscreen'" [(show)]="previewOpen" [campaignId]="previewId" [deviceType]="deviceType"></app-preview>
</div>
