<div class="container-fluid stats-wrapper">
  <div class="row">
    <div class="col-md-3">
      <app-status [campaignModel]="testCampaign" [id]="1" [percentage]="true"></app-status>
    </div>
    <div class="col-md-3">
      <app-status [campaignModel]="testCampaign" [id]="4" [percentage]="true"></app-status>
    </div>
    <div class="col-md-3">
      <app-status [campaignModel]="testCampaign" [id]="2" [percentage]="false"></app-status>
    </div>
    <div class="col-md-3">
      <app-status [campaignModel]="testCampaign" [id]="3" [percentage]="false"></app-status>
    </div>
  </div>
</div>

