@import '../../sass/variables';
@import '../../sass/mixins';

.actions {
    width: 100%;
    position: relative;
    bottom: 0;
    margin-left: -40px;
    padding: 5px 40px;
    vertical-align: middle;
    @media screen and (max-width: 1480px) {
        margin-left: -20px;
        padding: 16px 20px;
    }
    background: $aquaHaze;
    color: $bali;
    button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    &--preview {
        color: $bali;
        font-weight: bold;
        letter-spacing: 1.02px;
        padding: 10px 0;
        display: inline-block;
        @include transitionSingle(.3s ease);
        span {
            ::ng-deep svg {
                margin-top: -1px;
                path {
                    @include transitionSingle(.3s ease);
                }
            }
        }
        &:hover {
            color: $azure;
            span {
                ::ng-deep svg path {
                    fill: $azure;
                }
            }
        }
    }

    &--right {
        display: inline-block;
        float: right;
        &--discard {
            color: $bali;
            text-decoration: underline;
            font-weight: 100;
            font-size: 15px;
            @include transitionSingle(.3s ease);
            &:hover {
                color: $black;
            }
        }
        &--submit {
            background: $green !important;
            color: $white;
            font-weight: bold;
            @include borderRadius(4px);
            margin-left: 15px;
            padding: 10px 40px 10px 15px;
            text-align: left;
            position: relative;
            @include transitionSingle(.3s ease);
            &:after {
                position: absolute;
                right: 15px;
                top: 17px;
                content: '';
                width: 14px;
                height: 9px;
                background: url('/assets/images/icons/check.svg') no-repeat;
                @media screen and (max-height: 750px) {
                    top: 15px;
                }
            }
            &:hover {
                @include boxShadow(0 0 15px $bali);
            }
        }
    }
    @media screen and (max-height: 750px) {
        //width: 40%;
        padding: 5px 40px;
        button:not(.actions--right--discard) {
            padding: 7px 38px 7px 15px;
        }
    }
}
