@import 'variables';
@import 'mixins';
.editPortalUser {
  padding: 30px;
  height: 90%;
  &--form {
    overflow-y: auto;
    height: 100%;
    padding: 0 15px;
  }
  form {
    label {
      width: 35%;
      margin-bottom: 15px;
      text-align: right;
      padding-right: 10px;
    }
    input {
      width: 65%;
      padding: 7px 15px;
      border: 1px solid $bali;
      margin-bottom: 10px;
    }
    button[type="submit"]{
      margin-top: 0;
      background: $azure;
      color: $white;
      padding: 10px 30px;
      font-size: 18px;
      border: none;
      outline: none;
      @include transitionSingle(.3s ease);
      &:hover {
        @include boxShadow(0 0 10px rgba(0, 0, 0, .5));
      }
      float: right;
    }
  }
  &--loading {
    float: right;
    margin-top: -30px;
  }
  &--errorMessage {
    margin-left: 15px;
    color: $red;
    float: right;
    font-size: 14px;
  }

}