<div class="editPortalUser">
  <h2>Edit portal user</h2>
  <hr>
  <form [formGroup]="userForm" (submit)="storeUserDetail()">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <label for="firstName">
          First name:
        </label>
        <input type="text" formControlName="cft-firstName" id="firstName" [value]="userData.user_detail.first_name">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="lastName">
          Last name:
        </label>
        <input type="text" formControlName="cft-lastName" id="lastName" [value]="userData.user_detail.last_name">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="email">
          Email:
        </label>
        <input type="text" formControlName="cft-email" id="email" [value]="userData.email">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <label for="username">
          Username:
        </label>
        <input type="text" formControlName="cft-username" id="username" [value]="userData.username">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="password">
          Password:
        </label>
        <input type="password" formControlName="cft-password" id="password" [value]="'********'">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <label for="telephonePrefix">
          Tel. country prefix:
        </label>
        <input type="text" formControlName="cft-telephone-prefix" id="telephonePrefix" [value]="userData.user_detail.telephone_prefix">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="telephone">
          Telephone:
        </label>
        <input type="text" formControlName="cft-telephone" id="telephone" [value]="userData.user_detail.telephone">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <h4>Address</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <label for="street">
          Street:
        </label>
        <input type="text" formControlName="cft-street" id="street" [value]="userData.user_detail.street">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="houseNumber">
          House number:
        </label>
        <input type="text" formControlName="cft-house-number" id="houseNumber" [value]="userData.user_detail.house_number">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="zip">
          ZIP:
        </label>
        <input type="text" formControlName="cft-zip" id="zip" [value]="userData.user_detail.zip">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <label for="city">
          City:
        </label>
        <input type="text" formControlName="cft-city" id="city" [value]="userData.user_detail.city">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="country">
          Country:
        </label>
        <input type="text" formControlName="cft-country" id="country" [value]="userData.user_detail.country">
      </div>
    </div>
    <hr>
    <h4>Payment data</h4>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <label for="bankAccount">
          Bank account:
        </label>
        <input type="text" formControlName="cft-bankAccountNumber" id="bankAccount">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="cardNumber">
          Card number:
        </label>
        <input type="text" formControlName="cft-paymentCardNumber" id="cardNumber">
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <label for="cardExpiration">
          Card expiration:
        </label>
        <input type="text" formControlName="cft-paymentCardExpirationDate" id="cardExpiration">
      </div>
    </div>
    <button type="submit" *ngIf="!submitLoading">
      Save
    </button>
    <img src="../assets/images/loading.svg" *ngIf="submitLoading">
    <span class="editPortalUser--errorMessage" *ngIf="errorMessage !== ''">{{errorMessage}}</span>
  </form>
</div>