.cft {
  &--loginButton {
    display: block;
  }
  &--myAccountButton {
    display: none;
  }
  @import "cftMyAccount";
  @import "alert";
  @import 'loginDropDown';
  @import 'register';
}

// display none for last pass
#__lpform_cft-password {
  display: none !important;
}