@import "../../../../sass/variables";
@import "../../../../sass/mixins";
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.crowdfundingNumber {
  display: inline-block;
  position: relative;
  &--input {
    border: 1px solid $geyser;
    @include borderRadius(4px);
    width: 100%;
    padding: 14px 12px;
    @include transitionSingle(.3s ease);
    outline: none;
    height: 48px;
    &:focus, &:active {
      border: 1px solid $bali;
      outline: none;
    }
  }
  &--arrows {
    position: absolute;
    right: 0;
    button {
      display: block;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: 0;
      &:last-child {
        margin-top: -10px;
      }
    }
  }
}
