@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cft--loginButton {
  display: block;
}

.cft--myAccountButton {
  display: none;
}

.cft--myAccount {
  margin: 30px 0;
  background: #ffffff;
}

.cft--myAccount--sidebar {
  float: left;
  width: 200px;
  padding: 50px 0;
}

.cft--myAccount--sidebar ul {
  list-style: none;
  padding: 0;
}

.cft--myAccount--sidebar ul li {
  padding: 0;
}

.cft--myAccount--sidebar ul li a {
  display: block;
  padding: 10px 25px;
  color: #1F4E7B;
  font-size: 15px;
  position: relative;
}

.cft--myAccount--sidebar ul li a:hover,
.cft--myAccount--sidebar ul li a:focus {
  text-decoration: none;
  color: #158eea;
}

.cft--myAccount--sidebar ul li a:hover:after,
.cft--myAccount--sidebar ul li a:focus:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(/images/arrow.svg) no-repeat;
  position: absolute;
  right: 30px;
  top: 15px;
}

.cft--myAccount--sidebar ul li.active a {
  background: #E5F1FB;
  color: #158eea;
  position: relative;
}

.cft--myAccount--sidebar ul li.active a:before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #158eea;
}

.cft--myAccount--sidebar ul li.active a:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(/images/arrow.svg) no-repeat;
  position: absolute;
  right: 30px;
  top: 15px;
  transition: 0.3s ease;
}

.cft--myAccount--sidebar ul li.active:hover a:after {
  right: 15px;
}

.cft--myAccount--body {
  float: right;
  width: calc(100% - 200px);
  background: #F0F3F6;
  height: 100%;
  padding: 50px;
}

.cft--myAccount--body--loading {
  margin: 0 auto;
}

.cft--myAccount--body > div h2 {
  color: #000000;
}

.cft--alert {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.cft--alert.error {
  background: #e3342f;
  color: #ffffff;
}

.cft--alert.success {
  background: #38c172;
  color: #ffffff;
}

.cft--alert.active {
  visibility: visible;
  opacity: 1;
}

.cft--loginDropdown {
  display: none;
  width: 300px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  background: #ffffff;
  right: 0;
  margin-top: 5px;
}

.cft--loginDropdown form[name=cft-login] {
  padding: 25px;
}

.cft--loginDropdown form[name=cft-login] label,
.cft--loginDropdown form[name=cft-login] input {
  display: block;
  width: 100%;
}

.cft--loginDropdown form[name=cft-login] label {
  font-size: 11px;
}

.cft--loginDropdown form[name=cft-login] input {
  height: 40px;
  border-radius: 3px;
  background: #f3f8fc;
  border: 1px solid #d0d3d6;
  padding: 0 15px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  outline: none;
}

.cft--loginDropdown form[name=cft-login] input:focus {
  border: 1px solid #158eea;
}

.cft--loginDropdown form[name=cft-login] input.error {
  background: #FFF1F0;
  border: 1px solid #D47369;
  outline: none;
}

.cft--loginDropdown form[name=cft-login] input.error:focus {
  border: 1px solid #D47369;
}

.cft--loginDropdown form[name=cft-login] button[type=submit] {
  display: block;
  margin: 0 auto;
  background: #158eea;
  color: #ffffff;
  height: 40px;
  border-radius: 3px;
  border: none;
  width: 162px;
  font-weight: 700;
  font-size: 14px;
}

.cft--loginDropdown form[name=cft-login] button[type=submit]:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cft--loginDropdown--error {
  display: none;
  color: #D47369;
  font-size: 12px;
  margin: 5px 0 10px;
}

.cft--loginDropdown--error a {
  color: #D47369;
  text-decoration: underline;
}

.cft--loginDropdown--error.active {
  display: block;
}

.cft--loginDropdown--success {
  display: none;
  color: #16A643;
  font-size: 12px;
  margin: 5px 0 10px;
}

.cft--loginDropdown--success a {
  color: #16A643;
  text-decoration: underline;
}

.cft--loginDropdown--success.active {
  display: block;
}

.cft--loginDropdown--register {
  padding: 25px;
  background: #f3f8fc;
  font-size: 12px;
}

.cft--loginDropdown--register b {
  display: block;
  color: #1F4E7B;
  margin-bottom: 7px;
}

.cft--loginDropdown--register a {
  display: block;
  margin: 15px auto 0;
  background: #ffffff;
  color: #158eea;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #158eea;
  width: 162px;
  font-weight: 700;
  font-size: 14px;
}

.cft--loginDropdown--register a:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cft--loginDropdown.active {
  display: block;
}

.cft--register {
  margin: 10% auto;
  width: 100%;
  max-width: 340px;
}

.cft--register h1 {
  text-align: center;
  color: #1F4E7B;
}

.cft--register form[name=cft-register] {
  padding: 25px;
}

.cft--register form[name=cft-register] label,
.cft--register form[name=cft-register] input {
  display: block;
  width: 100%;
}

.cft--register form[name=cft-register] label {
  font-size: 11px;
  position: relative;
}

.cft--register form[name=cft-register] input:not([type=checkbox]) {
  height: 40px;
  border-radius: 3px;
  background: #f3f8fc;
  border: 1px solid #d0d3d6;
  padding: 0 15px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  outline: none;
}

.cft--register form[name=cft-register] input:not([type=checkbox]):focus {
  border: 1px solid #158eea;
}

.cft--register form[name=cft-register] input:not([type=checkbox]).error {
  background: #FFF1F0;
  border: 1px solid #D47369;
  outline: none;
}

.cft--register form[name=cft-register] input:not([type=checkbox]).error:focus {
  border: 1px solid #D47369;
}

.cft--register form[name=cft-register] input:not([type=checkbox])[type=password],
.cft--register form[name=cft-register] input:not([type=checkbox])[type=text] {
  background-image: none !important;
}

.cft--register form[name=cft-register] input:not([type=checkbox])[type=password] + img,
.cft--register form[name=cft-register] input:not([type=checkbox])[type=text] + img {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 10px;
}

.cft--register form[name=cft-register] label.checkbox {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-weight: 100;
  color: #000000;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox] + .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #d0d3d6;
  border-radius: 3px;
  transition: 0.3s;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox] + .checkmark:after {
  display: none;
  position: absolute;
  content: "";
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #158eea;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox]:checked + .checkmark:after {
  display: block;
}

.cft--register form[name=cft-register] label.checkbox:hover input[type=checkbox] + .checkmark {
  background-color: #8AA1B1;
}

.cft--register form[name=cft-register] label.checkbox a {
  color: #158eea;
}

.cft--register form[name=cft-register] button[type=submit] {
  display: block;
  margin: 15px auto 0;
  background: #158eea;
  color: #ffffff;
  height: 40px;
  border-radius: 3px;
  border: none;
  width: 162px;
  font-weight: 700;
  font-size: 14px;
}

.cft--register form[name=cft-register] button[type=submit]:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

#__lpform_cft-password {
  display: none !important;
}

.cftLogin--cftLoginWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  transition: opacity 500ms;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.cftLogin--cftLoginWrapper.active {
  display: block !important;
  opacity: 1;
}

.cftLogin--cftLoginWrapper--content {
  background: #f8fafc;
  max-width: 700px;
  box-shadow: 0 0 10px #8AA1B1;
  margin: 5% auto 0;
  padding: 30px;
  text-align: center;
}

.cftLogin--cftLoginWrapper--content form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.cftLogin--cftLoginWrapper--content form input {
  display: block;
  width: 100%;
  margin: 5px auto;
  border: 1px solid transparent;
  padding: 10px;
  outline: none;
}

.cftLogin--cftLoginWrapper--content form input:focus {
  border: 1px solid #8AA1B1;
}

.cftLogin--cftLoginWrapper--content form button:not(.cftLogin--cftLoginWrapper--content--button) {
  margin: 15px 0 15px 1px;
  border: 1px solid transparent;
  background: #8AA1B1;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.cftLogin--cftLoginWrapper--content form button:not(.cftLogin--cftLoginWrapper--content--button):hover {
  background: #ffffff;
  color: #8AA1B1;
}

.cftLogin--cftLoginWrapper--content--button {
  background: transparent;
  text-decoration: underline;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

.cftLogin--cftLoginWrapper--content--button.forgotPassword {
  position: relative;
  display: block;
}

.cftLogin--cftLoginWrapper--content--register {
  display: none;
}

.cftLogin--cftLoginWrapper--content--forgotPassword {
  display: none;
}

button#cft--loginButton {
  border: 1px solid #d0d3d6;
  border-radius: 3px;
  transition: 0.3s ease;
  color: #158eea;
  height: 44px;
  margin-top: 21.5px;
  background: transparent;
  position: relative;
  font-weight: bold;
  padding: 0 25px 0 50px;
}

button#cft--loginButton:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(/images/user.svg?a8e7e1f5d3dfc17bc09d1bc47abe24d6) no-repeat center;
  margin-left: -25px;
  margin-top: 1px;
}

button#cft--loginButton.active {
  border: 1px solid #E5F1FB;
  background: #E5F1FB;
}

button#cft--loginButton:hover,
button#cft--loginButton:focus,
button#cft--loginButton:visited {
  border: 1px solid #158eea;
  background: #E5F1FB;
}

