.cft--mt-0 {
  margin-top: 0px !important;
}

.cft--mr-0 {
  margin-right: 0px !important;
}

.cft--mb-0 {
  margin-bottom: 0px !important;
}

.cft--ml-0 {
  margin-left: 0px !important;
}

.cft--mt-5 {
  margin-top: 5px !important;
}

.cft--mr-5 {
  margin-right: 5px !important;
}

.cft--mb-5 {
  margin-bottom: 5px !important;
}

.cft--ml-5 {
  margin-left: 5px !important;
}

.cft--mt-10 {
  margin-top: 10px !important;
}

.cft--mr-10 {
  margin-right: 10px !important;
}

.cft--mb-10 {
  margin-bottom: 10px !important;
}

.cft--ml-10 {
  margin-left: 10px !important;
}

.cft--mt-15 {
  margin-top: 15px !important;
}

.cft--mr-15 {
  margin-right: 15px !important;
}

.cft--mb-15 {
  margin-bottom: 15px !important;
}

.cft--ml-15 {
  margin-left: 15px !important;
}

.cft--mt-20 {
  margin-top: 20px !important;
}

.cft--mr-20 {
  margin-right: 20px !important;
}

.cft--mb-20 {
  margin-bottom: 20px !important;
}

.cft--ml-20 {
  margin-left: 20px !important;
}

.cft--mt-25 {
  margin-top: 25px !important;
}

.cft--mr-25 {
  margin-right: 25px !important;
}

.cft--mb-25 {
  margin-bottom: 25px !important;
}

.cft--ml-25 {
  margin-left: 25px !important;
}

.cft--mt-30 {
  margin-top: 30px !important;
}

.cft--mr-30 {
  margin-right: 30px !important;
}

.cft--mb-30 {
  margin-bottom: 30px !important;
}

.cft--ml-30 {
  margin-left: 30px !important;
}

.cft--mt-35 {
  margin-top: 35px !important;
}

.cft--mr-35 {
  margin-right: 35px !important;
}

.cft--mb-35 {
  margin-bottom: 35px !important;
}

.cft--ml-35 {
  margin-left: 35px !important;
}

.cft--mt-40 {
  margin-top: 40px !important;
}

.cft--mr-40 {
  margin-right: 40px !important;
}

.cft--mb-40 {
  margin-bottom: 40px !important;
}

.cft--ml-40 {
  margin-left: 40px !important;
}

.cft--mt-45 {
  margin-top: 45px !important;
}

.cft--mr-45 {
  margin-right: 45px !important;
}

.cft--mb-45 {
  margin-bottom: 45px !important;
}

.cft--ml-45 {
  margin-left: 45px !important;
}

.cft--mt-50 {
  margin-top: 50px !important;
}

.cft--mr-50 {
  margin-right: 50px !important;
}

.cft--mb-50 {
  margin-bottom: 50px !important;
}

.cft--ml-50 {
  margin-left: 50px !important;
}

.cft--mt-55 {
  margin-top: 55px !important;
}

.cft--mr-55 {
  margin-right: 55px !important;
}

.cft--mb-55 {
  margin-bottom: 55px !important;
}

.cft--ml-55 {
  margin-left: 55px !important;
}

.cft--mt-60 {
  margin-top: 60px !important;
}

.cft--mr-60 {
  margin-right: 60px !important;
}

.cft--mb-60 {
  margin-bottom: 60px !important;
}

.cft--ml-60 {
  margin-left: 60px !important;
}

.cft--mt-65 {
  margin-top: 65px !important;
}

.cft--mr-65 {
  margin-right: 65px !important;
}

.cft--mb-65 {
  margin-bottom: 65px !important;
}

.cft--ml-65 {
  margin-left: 65px !important;
}

.cft--mt-70 {
  margin-top: 70px !important;
}

.cft--mr-70 {
  margin-right: 70px !important;
}

.cft--mb-70 {
  margin-bottom: 70px !important;
}

.cft--ml-70 {
  margin-left: 70px !important;
}

.cft--mt-75 {
  margin-top: 75px !important;
}

.cft--mr-75 {
  margin-right: 75px !important;
}

.cft--mb-75 {
  margin-bottom: 75px !important;
}

.cft--ml-75 {
  margin-left: 75px !important;
}

.cft--mt-80 {
  margin-top: 80px !important;
}

.cft--mr-80 {
  margin-right: 80px !important;
}

.cft--mb-80 {
  margin-bottom: 80px !important;
}

.cft--ml-80 {
  margin-left: 80px !important;
}

.cft--mt-85 {
  margin-top: 85px !important;
}

.cft--mr-85 {
  margin-right: 85px !important;
}

.cft--mb-85 {
  margin-bottom: 85px !important;
}

.cft--ml-85 {
  margin-left: 85px !important;
}

.cft--mt-90 {
  margin-top: 90px !important;
}

.cft--mr-90 {
  margin-right: 90px !important;
}

.cft--mb-90 {
  margin-bottom: 90px !important;
}

.cft--ml-90 {
  margin-left: 90px !important;
}

.cft--mt-95 {
  margin-top: 95px !important;
}

.cft--mr-95 {
  margin-right: 95px !important;
}

.cft--mb-95 {
  margin-bottom: 95px !important;
}

.cft--ml-95 {
  margin-left: 95px !important;
}

.cft--mt-100 {
  margin-top: 100px !important;
}

.cft--mr-100 {
  margin-right: 100px !important;
}

.cft--mb-100 {
  margin-bottom: 100px !important;
}

.cft--ml-100 {
  margin-left: 100px !important;
}

.cft--border-radius-left-none {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.cft--border-radius-right-none {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.cft--border-right-none {
  border-right: none !important;
}

.cft--font-weight-bold {
  font-weight: bold !important;
}

.cft--font-weight-bolder {
  font-weight: 500 !important;
}

.cft--font-weight-light {
  font-weight: 100 !important;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cft--loginButton {
  display: block;
}

.cft--myAccountButton {
  display: none;
}

.cft--grid--row {
  width: 100%;
  display: block;
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-1 {
    width: calc(8.3333333333% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-1:last-child {
    float: right;
  }

  .cft--grid--lg-1.withoutPadding-lg {
    width: calc(8.3333333333%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-1 {
    width: calc(8.3333333333%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-2 {
    width: calc(16.6666666667% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-2:last-child {
    float: right;
  }

  .cft--grid--lg-2.withoutPadding-lg {
    width: calc(16.6666666667%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-2 {
    width: calc(16.6666666667%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-3 {
    width: calc(25% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-3:last-child {
    float: right;
  }

  .cft--grid--lg-3.withoutPadding-lg {
    width: calc(25%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-3 {
    width: calc(25%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-4 {
    width: calc(33.3333333333% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-4:last-child {
    float: right;
  }

  .cft--grid--lg-4.withoutPadding-lg {
    width: calc(33.3333333333%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-4 {
    width: calc(33.3333333333%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-5 {
    width: calc(41.6666666667% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-5:last-child {
    float: right;
  }

  .cft--grid--lg-5.withoutPadding-lg {
    width: calc(41.6666666667%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-5 {
    width: calc(41.6666666667%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-6 {
    width: calc(50% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-6:last-child {
    float: right;
  }

  .cft--grid--lg-6.withoutPadding-lg {
    width: calc(50%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-6 {
    width: calc(50%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-7 {
    width: calc(58.3333333333% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-7:last-child {
    float: right;
  }

  .cft--grid--lg-7.withoutPadding-lg {
    width: calc(58.3333333333%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-7 {
    width: calc(58.3333333333%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-8 {
    width: calc(66.6666666667% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-8:last-child {
    float: right;
  }

  .cft--grid--lg-8.withoutPadding-lg {
    width: calc(66.6666666667%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-8 {
    width: calc(66.6666666667%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-9 {
    width: calc(75% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-9:last-child {
    float: right;
  }

  .cft--grid--lg-9.withoutPadding-lg {
    width: calc(75%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-9 {
    width: calc(75%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-10 {
    width: calc(83.3333333333% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-10:last-child {
    float: right;
  }

  .cft--grid--lg-10.withoutPadding-lg {
    width: calc(83.3333333333%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-10 {
    width: calc(83.3333333333%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-11 {
    width: calc(91.6666666667% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-11:last-child {
    float: right;
  }

  .cft--grid--lg-11.withoutPadding-lg {
    width: calc(91.6666666667%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-11 {
    width: calc(91.6666666667%);
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .cft--grid--lg-12 {
    width: calc(100% - 15px);
    display: inline-block;
  }

  .cft--grid--lg-12:last-child {
    float: right;
  }

  .cft--grid--lg-12.withoutPadding-lg {
    width: calc(100%);
  }
}

@media screen and (max-width: 991px) {
  .cft--grid--sm-12 {
    width: calc(100%);
    display: inline-block;
  }
}

.cft--myAccount {
  margin: 30px 0;
  background: #ffffff;
}

.cft--myAccount--sidebar {
  float: left;
  width: 200px;
  padding: 50px 0;
}

.cft--myAccount--sidebar ul {
  list-style: none;
  padding: 0;
}

.cft--myAccount--sidebar ul li {
  padding: 0;
}

.cft--myAccount--sidebar ul li a {
  display: block;
  padding: 10px 25px;
  color: #1F4E7B;
  font-size: 15px;
  position: relative;
}

.cft--myAccount--sidebar ul li a:hover,
.cft--myAccount--sidebar ul li a:focus {
  text-decoration: none;
  color: #158eea;
}

.cft--myAccount--sidebar ul li a:hover:after,
.cft--myAccount--sidebar ul li a:focus:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(/images/arrow.svg) no-repeat;
  position: absolute;
  right: 30px;
  top: 15px;
}

.cft--myAccount--sidebar ul li.active a {
  background: #E5F1FB;
  color: #158eea;
  position: relative;
}

.cft--myAccount--sidebar ul li.active a:before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #158eea;
}

.cft--myAccount--sidebar ul li.active a:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(/images/arrow.svg) no-repeat;
  position: absolute;
  right: 30px;
  top: 15px;
  transition: 0.3s ease;
}

.cft--myAccount--sidebar ul li.active:hover a:after {
  right: 15px;
}

.cft--myAccount--body {
  float: right;
  width: calc(100% - 200px);
  background: #F0F3F6;
  padding: 50px;
}

.cft--myAccount--body--loading {
  margin: 0 auto;
}

.cft--myAccount--body > div h2 {
  color: #000000;
}

.cft--alert {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  transition: 0.3s;
}

.cft--alert.error {
  background: #FFE8E8;
  color: #AD0000;
}

.cft--alert.success {
  background: #38c172;
  color: #ffffff;
}

.cft--alert.active {
  visibility: visible;
  opacity: 1;
}

.cft--loginDropdown {
  display: none;
  width: 300px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  background: #ffffff;
  right: 0;
  margin-top: 5px;
}

.cft--loginDropdown form[name=cft-login],
.cft--loginDropdown form[name=cft-forgottenPassword] {
  padding: 25px;
  display: none;
}

.cft--loginDropdown form[name=cft-login] h3,
.cft--loginDropdown form[name=cft-forgottenPassword] h3 {
  text-align: center;
  margin-bottom: 15px;
}

.cft--loginDropdown form[name=cft-login] label,
.cft--loginDropdown form[name=cft-login] input,
.cft--loginDropdown form[name=cft-forgottenPassword] label,
.cft--loginDropdown form[name=cft-forgottenPassword] input {
  display: block;
  width: 100%;
}

.cft--loginDropdown form[name=cft-login] label,
.cft--loginDropdown form[name=cft-forgottenPassword] label {
  font-size: 11px;
}

.cft--loginDropdown form[name=cft-login] input,
.cft--loginDropdown form[name=cft-forgottenPassword] input {
  height: 40px;
  border-radius: 3px;
  background: #f3f8fc;
  border: 1px solid #d0d3d6;
  padding: 0 15px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  outline: none;
}

.cft--loginDropdown form[name=cft-login] input:focus,
.cft--loginDropdown form[name=cft-forgottenPassword] input:focus {
  border: 1px solid #158eea;
}

.cft--loginDropdown form[name=cft-login] input.error,
.cft--loginDropdown form[name=cft-forgottenPassword] input.error {
  background: #FFF1F0;
  border: 1px solid #D47369;
  outline: none;
}

.cft--loginDropdown form[name=cft-login] input.error:focus,
.cft--loginDropdown form[name=cft-forgottenPassword] input.error:focus {
  border: 1px solid #D47369;
}

.cft--loginDropdown form[name=cft-login] button[type=submit],
.cft--loginDropdown form[name=cft-forgottenPassword] button[type=submit] {
  display: block;
  margin: 0 auto;
  background: #158eea;
  color: #ffffff;
  height: 40px;
  border-radius: 3px;
  border: none;
  width: 162px;
  font-weight: 700;
  font-size: 14px;
}

.cft--loginDropdown form[name=cft-login] button[type=submit]:hover,
.cft--loginDropdown form[name=cft-forgottenPassword] button[type=submit]:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cft--loginDropdown form[name=cft-login].active,
.cft--loginDropdown form[name=cft-forgottenPassword].active {
  display: block;
}

.cft--loginDropdown--message {
  display: none;
}

.cft--loginDropdown--message.error {
  display: none;
  color: #D47369;
  font-size: 12px;
  margin: 5px 0 10px;
}

.cft--loginDropdown--message.error a {
  color: #D47369;
  text-decoration: underline;
}

.cft--loginDropdown--message.error.active {
  display: block;
}

.cft--loginDropdown--message.success {
  display: none;
  color: #16A643;
  font-size: 12px;
  margin: 5px 0 10px;
}

.cft--loginDropdown--message.success a {
  color: #16A643;
  text-decoration: underline;
}

.cft--loginDropdown--message.success.active {
  display: block;
}

.cft--loginDropdown--error {
  display: none;
  color: #D47369;
  font-size: 12px;
  margin: 5px 0 10px;
}

.cft--loginDropdown--error a {
  color: #D47369;
  text-decoration: underline;
}

.cft--loginDropdown--error.active {
  display: block;
}

.cft--loginDropdown--success {
  display: none;
  color: #16A643;
  font-size: 12px;
  margin: 5px 0 10px;
}

.cft--loginDropdown--success a {
  color: #16A643;
  text-decoration: underline;
}

.cft--loginDropdown--success.active {
  display: block;
}

.cft--loginDropdown--register {
  padding: 25px;
  background: #f3f8fc;
  font-size: 12px;
}

.cft--loginDropdown--register b {
  display: block;
  color: #1F4E7B;
  margin-bottom: 7px;
}

.cft--loginDropdown--register a {
  display: block;
  margin: 15px auto 0;
  background: #ffffff;
  color: #158eea;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #158eea;
  width: 162px;
  font-weight: 700;
  font-size: 14px;
}

.cft--loginDropdown--register a:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cft--loginDropdown.active {
  display: block;
}

.cft--loginDropdown #cft--forgottenPassword {
  float: right;
  background: transparent;
  border: none;
  outline: none;
  color: #158eea;
  padding-bottom: 5px;
}

.cft--loginDropdown #cft--forgottenPassword:hover {
  text-decoration: underline;
}

.cft--loginDropdown #cft--showLogin {
  display: block;
  margin: 30px auto 0;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  color: #158eea;
  padding-bottom: 5px;
}

.cft--loginDropdown #cft--showLogin:hover {
  text-decoration: underline;
}

.cft--register {
  margin: 10% auto;
  width: 100%;
  max-width: 340px;
}

.cft--register h1 {
  text-align: center;
  color: #1F4E7B;
}

.cft--register form[name=cft-register] {
  padding: 25px;
}

.cft--register form[name=cft-register] label,
.cft--register form[name=cft-register] input {
  display: block;
  width: 100%;
}

.cft--register form[name=cft-register] label {
  font-size: 11px;
  position: relative;
}

.cft--register form[name=cft-register] input:not([type=checkbox]) {
  height: 40px;
  border-radius: 3px;
  background: #f3f8fc;
  border: 1px solid #d0d3d6;
  padding: 0 15px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  outline: none;
}

.cft--register form[name=cft-register] input:not([type=checkbox]):focus {
  border: 1px solid #158eea;
}

.cft--register form[name=cft-register] input:not([type=checkbox]).error {
  background: #FFF1F0;
  border: 1px solid #D47369;
  outline: none;
}

.cft--register form[name=cft-register] input:not([type=checkbox]).error:focus {
  border: 1px solid #D47369;
}

.cft--register form[name=cft-register] input:not([type=checkbox])[type=password],
.cft--register form[name=cft-register] input:not([type=checkbox])[type=text] {
  background-image: none !important;
}

.cft--register form[name=cft-register] input:not([type=checkbox])[type=password] + img,
.cft--register form[name=cft-register] input:not([type=checkbox])[type=text] + img {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 10px;
}

.cft--register form[name=cft-register] label.checkbox {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-weight: 100;
  color: #000000;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox] + .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #d0d3d6;
  border-radius: 3px;
  transition: 0.3s;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox] + .checkmark:after {
  display: none;
  position: absolute;
  content: "";
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #158eea;
}

.cft--register form[name=cft-register] label.checkbox input[type=checkbox]:checked + .checkmark:after {
  display: block;
}

.cft--register form[name=cft-register] label.checkbox:hover input[type=checkbox] + .checkmark {
  background-color: #8AA1B1;
}

.cft--register form[name=cft-register] label.checkbox a {
  color: #158eea;
}

.cft--register form[name=cft-register] button[type=submit] {
  display: block;
  margin: 15px auto 0;
  background: #158eea;
  color: #ffffff;
  height: 40px;
  border-radius: 3px;
  border: none;
  width: 162px;
  font-weight: 700;
  font-size: 14px;
}

.cft--register form[name=cft-register] button[type=submit]:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cft--formBox {
  background: #ffffff;
  border-radius: 3px;
  padding: 25px;
}

.cft--input {
  display: block;
  width: 100%;
}

.cft--input:not([type=checkbox]) {
  height: 40px;
  border-radius: 3px;
  background: #f3f8fc;
  border: 1px solid #d0d3d6;
  padding: 0 15px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  outline: none;
}

.cft--input:not([type=checkbox]):focus {
  border: 1px solid #158eea;
}

.cft--input:not([type=checkbox]).error {
  background: #FFF1F0;
  border: 1px solid #D47369;
  outline: none;
}

.cft--input:not([type=checkbox]).error:focus {
  border: 1px solid #D47369;
}

.cft--input:not([type=checkbox])[type=password],
.cft--input:not([type=checkbox])[type=text] {
  background-image: none !important;
}

.cft--input:not([type=checkbox])[type=password] + img,
.cft--input:not([type=checkbox])[type=text] + img {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 10px;
}

.cft--checkbox {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-weight: 100;
  color: #000000;
}

.cft--checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cft--checkbox input[type=checkbox] + .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #d0d3d6;
  border-radius: 3px;
  transition: 0.3s;
}

.cft--checkbox input[type=checkbox] + .checkmark:after {
  display: none;
  position: absolute;
  content: "";
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cft--checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #158eea;
}

.cft--checkbox input[type=checkbox]:checked + .checkmark:after {
  display: block;
}

.cft--checkbox:hover input[type=checkbox] + .checkmark {
  background-color: #8AA1B1;
}

.cft--checkbox a {
  color: #158eea;
}

.cft--select {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background: #f3f8fc;
  border: 1px solid #d0d3d6;
  padding: 0 15px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  outline: none;
}

.cft--select:focus {
  border: 1px solid #158eea;
}

.cft--select.error {
  background: #FFF1F0;
  border: 1px solid #D47369;
  outline: none;
}

.cft--select.error:focus {
  border: 1px solid #D47369;
}

.cft--submitButton {
  background: #158eea;
  color: #ffffff;
  height: 40px;
  border-radius: 3px;
  border: none;
  width: 162px;
  font-weight: 700;
  font-size: 14px;
}

.cft--submitButton:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.cft--button {
  border: 1px solid #d0d3d6;
  border-radius: 3px;
  transition: 0.3s ease;
  color: #158eea;
  height: 44px;
  margin-top: 21.5px;
  background: transparent;
  position: relative;
  font-weight: bold;
  padding: 0 25px 0 50px;
  width: 162px;
}

.cft--button#cft--logout:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(/images/user.svg?a8e7e1f5d3dfc17bc09d1bc47abe24d6) no-repeat center;
  margin-left: -25px;
  margin-top: 1px;
}

.cft--button.active {
  border: 1px solid #E5F1FB;
  background: #E5F1FB;
}

.cft--button:hover,
.cft--button:focus,
.cft--button:visited {
  border: 1px solid #158eea;
  background: #E5F1FB;
}

#__lpform_cft-password {
  display: none !important;
}

.cftLogin--cftLoginWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  transition: opacity 500ms;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.cftLogin--cftLoginWrapper.active {
  display: block !important;
  opacity: 1;
}

.cftLogin--cftLoginWrapper--content {
  background: #f8fafc;
  max-width: 700px;
  box-shadow: 0 0 10px #8AA1B1;
  margin: 5% auto 0;
  padding: 30px;
  text-align: center;
}

.cftLogin--cftLoginWrapper--content form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.cftLogin--cftLoginWrapper--content form input {
  display: block;
  width: 100%;
  margin: 5px auto;
  border: 1px solid transparent;
  padding: 10px;
  outline: none;
}

.cftLogin--cftLoginWrapper--content form input:focus {
  border: 1px solid #8AA1B1;
}

.cftLogin--cftLoginWrapper--content form button:not(.cftLogin--cftLoginWrapper--content--button) {
  margin: 15px 0 15px 1px;
  border: 1px solid transparent;
  background: #8AA1B1;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.cftLogin--cftLoginWrapper--content form button:not(.cftLogin--cftLoginWrapper--content--button):hover {
  background: #ffffff;
  color: #8AA1B1;
}

.cftLogin--cftLoginWrapper--content--button {
  background: transparent;
  text-decoration: underline;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

.cftLogin--cftLoginWrapper--content--button.forgotPassword {
  position: relative;
  display: block;
}

.cftLogin--cftLoginWrapper--content--register {
  display: none;
}

.cftLogin--cftLoginWrapper--content--forgotPassword {
  display: none;
}

button#cft--loginButton {
  border: 1px solid #d0d3d6;
  border-radius: 3px;
  transition: 0.3s ease;
  color: #158eea;
  height: 44px;
  margin-top: 21.5px;
  background: transparent;
  position: relative;
  font-weight: bold;
  padding: 0 25px 0 50px;
}

button#cft--loginButton:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(/images/user.svg?a8e7e1f5d3dfc17bc09d1bc47abe24d6) no-repeat center;
  margin-left: -25px;
  margin-top: 1px;
}

button#cft--loginButton.active {
  border: 1px solid #E5F1FB;
  background: #E5F1FB;
}

button#cft--loginButton:hover,
button#cft--loginButton:focus,
button#cft--loginButton:visited {
  border: 1px solid #158eea;
  background: #E5F1FB;
}

