@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cft--loginButton {
  display: block;
}

.cft--myAccountButton {
  display: none;
}

.cft--alert {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.cft--alert.error {
  background: #e3342f;
  color: #ffffff;
}

.cft--alert.success {
  background: #38c172;
  color: #ffffff;
}

.cft--alert.active {
  visibility: visible;
  opacity: 1;
}

.cftLogin--cftLoginWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  transition: opacity 500ms;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.cftLogin--cftLoginWrapper.active {
  display: block !important;
  opacity: 1;
}

.cftLogin--cftLoginWrapper--content {
  background: #f8fafc;
  max-width: 700px;
  box-shadow: 0 0 10px #8AA1B1;
  margin: 5% auto 0;
  padding: 30px;
  text-align: center;
}

.cftLogin--cftLoginWrapper--content form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.cftLogin--cftLoginWrapper--content form input {
  display: block;
  width: 100%;
  margin: 5px auto;
  border: 1px solid transparent;
  padding: 10px;
  outline: none;
}

.cftLogin--cftLoginWrapper--content form input:focus {
  border: 1px solid #8AA1B1;
}

.cftLogin--cftLoginWrapper--content form button:not(.cftLogin--cftLoginWrapper--content--button) {
  margin: 15px 0 15px 1px;
  border: 1px solid transparent;
  background: #8AA1B1;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.cftLogin--cftLoginWrapper--content form button:not(.cftLogin--cftLoginWrapper--content--button):hover {
  background: #ffffff;
  color: #8AA1B1;
}

.cftLogin--cftLoginWrapper--content--button {
  background: transparent;
  text-decoration: underline;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

.cftLogin--cftLoginWrapper--content--button.forgotPassword {
  position: relative;
  display: block;
}

.cftLogin--cftLoginWrapper--content--register {
  display: none;
}

.cftLogin--cftLoginWrapper--content--forgotPassword {
  display: none;
}

