<div class="donors-list d-flex flex-column">
    <app-alert [(open)]="alertOpen" [type]="alertType" [message]="alertMessage"></app-alert>
    <!--  <app-button [label]="(filterActive) ? 'Reset filter' : 'Filter'" [type]="'button'" [class]="'classic float-right'" (onClick)="showFilter()"></app-button>-->
    <app-export-csv
            *ngIf="!loading"
            [title]="'Export all users to csv'"
            [data]="users"
            [helperText]="'You can export all users from CFT system with all of donation and payment records.'"
            [floatButton]="'left'"
            [exportType]="'donors'"
            [fileName]="'export-donors'"
            (loadingEmitter)="exportLoading($event)"
            (resultEmitter)="export2Csv($event)"></app-export-csv>
    <app-loading [isLoading]="loading" [extraText]="(exportCsvLoading) ? 'Please wait, generating csv file...<br /> ' +
   'Take a <b>coffee break</b>, it may take few minutes.<br />Once the process is done, you\'ll get message about it.' : ''"></app-loading>

    <div id="crowd-content">

        <app-table-portal-users
                [dataType]="'allPortalUsers'"
                [from]="from"
                [to]="to"
                [statsDateSelected]="statsDateSelected"
                [monthly]="undefined"
                [title]="tableTitle"
                [showDates]="false"
        ></app-table-portal-users>
    </div>


    <h4 *ngIf="noUsers" class="text-center"> Currently, no users found... </h4>
</div>
