<div class="donors-list d-flex flex-column">
  <app-alert [(open)]="alertOpen" [type]="alertType" [message]="alertMessage"></app-alert>
<!--  <app-button [label]="(filterActive) ? 'Reset filter' : 'Filter'" [type]="'button'" [class]="'classic float-right'" (onClick)="showFilter()"></app-button>-->
  <app-export-csv
    [title]="'Export all donors to csv'"
    [data]="users"
    [columnNames]=""
    [floatButton]="'left'"
    [exportType]="'donors'"
    (loadingEmitter)="exportLoading($event)"
    (resultEmitter)="export2Csv($event)"></app-export-csv>
  <div id="crowd-content">

    <table class="list-items">
      <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Monthly donor</th>
        <th></th>
      </tr>
      <tr app-portal-user-filter *ngIf="filterActive" [active]="filterActive"></tr>
      </thead>
      <ng-container *ngIf="!loading">
        <tbody app-portal-user-item [users]="users" (userDetailEmitter)="redirectUserDetail($event)"></tbody>
      </ng-container>
    </table>
  </div>

  <app-loading [isLoading]="loading" [extraText]="(exportCsvLoading) ? 'Please wait, generating csv file...' : ''"></app-loading>
  <h4 *ngIf="noUsers" class="text-center"> Currently, no users found... </h4>
</div>
