<div class="d-flex flex-column"
     (click)="toogleOrdering()"
     [attr.order]="model.sortBy==column && hide.indexOf('title') === -1"
     [attr.asc]="model.asc">
  <ng-container *ngIf="(hide.indexOf('title') === -1)">
    {{column.description}}
  </ng-container>
  <div class="d-flex" (click)="$event.stopPropagation()" *ngIf="column.type=='number' && hide.indexOf('filters') === -1">
    <app-inputNumber class="crowdfunding-number crowdfunding-number--little" [placeholder]="'min'" [(value)]="min"
                     (valueChange)="setFilter('min',$event)" type="number"></app-inputNumber>
    <app-inputNumber class="crowdfunding-number crowdfunding-number--little" [placeholder]="'max'" [(value)]="max"
                     (valueChange)="setFilter('max',$event)" type="number"></app-inputNumber>
  </div>
  <div class="d-flex" (click)="$event.stopPropagation()" *ngIf="column.type=='text' && hide.indexOf('filters') === -1">
    <input #campaignName
           class="little"
           id="column.description"
           placeholder="search by text"
           [(ngModel)]="textSearch"
           (ngModelChange)="setFilter('text',$event)"
    >
  </div>
</div>
