.inputs-group {
    .number-currency:first-child{
        border-radius:  5px 0 0 5px;
    }
    .number-currency:last-child {
        border-radius:  0 5px 5px 0;
    }
}

.number-currency{
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    flex: 0 0 70.0%;
    max-width: 70.0%;

    width: 100%;
    height: 48px;
    color: #0074E9;
    border: 1px solid #E2E7EC;
    border-radius:  0;
    box-sizing: border-box;
    padding-left: 24px;

    &:disabled{
        color:#8AA1B1;
        background-color: #F4F7F8;
        flex: 0 0 30.0%;
        max-width: 30.0%;
    }
}
.default-border{
    border: 1px solid #D8DFE5;
    border-radius: 4px;
    color: #8AA1B1;
    font-size: 14px;
    background: Transparent no-repeat;
    overflow: hidden;
    outline: none;
    transition: 0.3s ease;
}

textarea{
    width: 100%;
    padding: 1em;
    resize: none;
    + span{
        position: absolute;
        right: 12px;
        /* margin-top: -30px; */
        bottom: 16px;
        font-size: 10px;
        background: #ffffff;
        color: #8AA1B1;
    }
}

.editInput {
    position: relative;
    input {
        border: none;
        border-bottom: 1px solid $bali;
        display: block;
        width: 100%;
        position: relative;
        outline: none;
        padding: 5px 0;
        font-size: 18px;
        letter-spacing: 0.8px;
        @include transitionSingle(.3s ease);
        &::-webkit-input-placeholder {
            font-style: italic;
            color: $bali;
        }
        &:-moz-placeholder {
            font-style: italic;
            color: $bali;
        }
        &::-moz-placeholder {
            font-style: italic;
            color: $bali;
        }
        &:-ms-input-placeholder {
            font-style: italic;
            color: $bali;
        }
        &:focus {
            border-bottom: 1px solid $azure;
        }
        & + span.actualLength {
            position: absolute;
            right: 0;
            padding-right: 15px;
            margin-top: -30px;
            font-size: 10px;
            background: transparent;
            color: $bali;
        }
    }
}
