@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transitionSingle($prop) {
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -ms-transition: $prop;
  -o-transition: $prop;
  transition: $prop;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin boxShadow($params) {
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}

@mixin fadeIn($time) {
  -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $time; /* Firefox < 16 */
  -ms-animation: fadein $time; /* Internet Explorer */
  -o-animation: fadein $time; /* Opera < 12.1 */
  animation: fadein $time;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
