.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}

.title {
    color: $azure
}

.faded {
    color: #8AA1b1
}

.bold {
    font-weight: bold;
}

.full-width {
    svg {
        width: 100%;
    }
}

.blur {
    transition: 0.3s all;
    opacity: 0.66;
}

.description {
    opacity: 0.66;
}