@import "../../../sass/variables";
@import "../../../sass/mixins";
.configurationPage {
  background: $white;
  width: 1200px;
  height: 705px;
  color: $outer-space;
  text-align: center;
  padding: 39px 0;
  @media screen and (min-height: 750px) and (max-height: 800px) {
    height: 600px;
    margin-top: 30px;
  }
  @media screen and (max-height: 749px) {
    height: 580px;
    margin-top: 20px;
  }
  b {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    display: block;
  }
  p {
    color: $outer-space;
    opacity: .66;
    margin-bottom: 39px;
  }
  &--items {
    height: 450px;
    @media screen and (min-height: 750px) and (max-height: 800px) {
      height: 350px;
    }
    @media screen and (max-height: 749px) {
      height: 300px;
    }
  }
  &--row {
    margin: 0 30px;
    height: 100%;
  }
  &--item {
    background: $aquaHaze;
    color: $outer-space;
    height: 100%;
    padding: 39px 19px;
    cursor: pointer;
    @include transitionSingle(.3s ease);
    b {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
      height: 50px;
    }
    svg {
      transition: 1.5s;
      g {
        transition: 1s;
        path {
          transition: .5s;
        }
      }
      @media screen and (max-height: 800px) {
        width: 180px;
        height: 180px;
      }
    }
    &--edit {
      display: block;
      color: $bali;
      font-size: 15px;
      font-weight: bold;
      @include transitionSingle(.3s ease);
      svg {
        width: 18px;
        height: 18px;
        margin-top: -3px;
      }
    }
    &:hover {
      @include boxShadow(0 0 15px $bali);
      svg {
        &.icon_settings {
          transform: rotate(360deg);
        }
        g.call2actions_setings {
          transform: translate3d(50px, -35px, 15px);
        }
        g path.widgets_settings {
          fill: $azure;
        }
      }
      .configurationPage--item--edit {
        color: $azure;
        svg g path {
          fill: $azure;
        }
      }
    }
  }
}
