<app-modal-full-size class="active bg-overlay" *ngIf="modalOpened" (openChange)="closeModal()" [(open)]="modalOpened">
  <app-portal-user-table class="full-height" *ngIf="tables.tableDonors" [statsDateSelected]="statsDateSelected" [from]="from"
                         [to]="to" [monthly]="monthly"
                         [title]="tableTitle" [dataType]="dataType"></app-portal-user-table>
  <app-payment-table *ngIf="tables.tablePayments" [statsDateSelected]="statsDateSelected" [from]="from" [to]="to"
                     [monthly]="monthly"
                     [title]="tableTitle" [dataType]="dataType"></app-payment-table>
</app-modal-full-size>
