<app-payment>
    <div class="paymentOptions">
        <app-alert
                [(open)]="alertOpen"
                [message]="alertMessage"
                [type]="alertType"></app-alert>
        <div class="importPayments">
            <p>
                Here you can manually import payments. File must be in .csv format.
            </p>
            <app-upload-csv
                    [loading]="loading"
                    (changeFileEmitter)="processFile($event)"></app-upload-csv>
        </div>
    </div>
</app-payment>