<app-breadcrumbs
    [pageTitle]="'Overall'">
    <div class="row">
        <div class="col-6">
            from:
            <app-datepicker
                [(date)]="from"
                (dateChange)="getDataForGraph()"
                [maxDate]="to"
                [type]="'start'">
            </app-datepicker>
        </div>
        <div class="col-6">
            to:
            <app-datepicker
                [(date)]="to"
                (dateChange)="getDataForGraph()"
                [minDate]="from"
                [type]="'end'">
            </app-datepicker>
        </div>
        <div class="col-6 pt-2">
            <app-dropdown [class]="'classic'"
                          [clazz]="'selectWrapper--small selectWrapper--dark'" [items]="typeDropdownButtons"
                          [(currentValue)]="type"
                          (currentValueChange)="getDataForGraph()">
            </app-dropdown>
        </div>

        <div class="col-6 pt-2">
            <app-radio-button-group [clazz]="'radio-button-group--little'" [radioButtons]="intervalRadioButtons"
                                    [(currentValue)]="interval" (currentValueChange)="getDataForGraph()">

            </app-radio-button-group>
        </div>
    </div>

</app-breadcrumbs>

<p-chart type="line" [data]="data" [options]="options"  [height]="'40vh'"></p-chart>
