<div class="radio-button-group input-group container-fluid" [ngClass]="class">
    <div class="row">
        <div class="item--icon col pr-3" *ngFor="let rb of buttons">
            <div class="row" style="height: 48px">
                <div class="col p-0 vertical-align float-left">
                    <div *ngIf="rb.icon"
                         [inlineSVG]="rb.icon"
                         [ngClass]="{'default-color':fill}">
                    </div>
                    <div *ngIf="!rb.icon">
                        {{rb.displayName}}
                    </div>
                </div>
                <div class="col p-0 vertical-align float-right">
                    <input [ngModel]="rb.value" (ngModelChange)="valueChange($event,rb)">
                </div>
            </div>
        </div>
    </div>
</div>