<div class="breadcrumbs">
    <div class="row">
        <div class="col-6 text-left">
            <ul>
                <li *ngIf="parentPage != null">
                    <a [routerLink]="parentPage.path">
                        {{parentPage.title}}
                    </a>
                </li>
                <li class="breadcrumbs--active">
                    <a>
                        {{pageTitle}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6 text-right d-flex justify-content-end">
            <ng-content></ng-content>
        </div>
    </div>
</div>
