<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h2>{{title}}</h2>
        </div>
        <div class="col-3 d-flex align-items-center">
            from:
            <app-datepicker
                [(date)]="from"
                [maxDate]="to"
                [type]="'start'"
                (dateChange)="refreshTable()"
                [disabled]="disabledDate">
            </app-datepicker>
        </div>
        <div class="col-3 d-flex align-items-center">
            to:
            <app-datepicker
                [(date)]="to"
                [minDate]="from"
                [type]="'end'"
                (dateChange)="refreshTable()"
                [disabled]="disabledDate">
            </app-datepicker>
        </div>
    </div>
</div>
<table class="list-items list-items--orderable">
    <thead>
    <tr>
        <th class="id">#</th>
        <th app-table-header *ngFor="let column of model.columns"
            [column]="column" [(model)]="model"
            (modelChange)="sortTable()"></th>
    </tr>
    </thead>
    <tbody *ngIf="!loading">
    <tr *ngFor="let donation of sortedDonations; let i = index" class="list-items--item" (click)="showDonationDetail(donation.id)">
        <td>{{i+1}}</td>
        <td>
            {{donation.created_at | date:'dd.MM.yyyy' }}
        </td>
        <td>
            {{donation.amount | currency: 'EUR': 'symbol': '1.0-2':'sk'}}
        </td>
        <td>
            {{(donation.payment_method === null) ? 'N/A' : donation.payment_method}}
        </td>
        <td class="pointer" [routerLink]="['/'+ routing.PORTAL_USERS_FULL_PATH, donation.portal_user.id]">
            {{donation.portal_user.user?.user_detail.first_name}} {{donation.portal_user?.user.user_detail.last_name}}
        </td>
        <td>
            {{donation.is_monthly_donation | monthly}}
        </td>
        <td>
            {{donation.widget.widget_type.name}}
        </td>
        <td class="pointer" [routerLink]="[routing.CAMPAIGNS_FULL_PATH, donation.widget.campaign.id]">
            {{donation.widget.campaign.name}}
        </td>
    </tr>
    </tbody>
</table>
<app-loading [isLoading]="loading"></app-loading>
