<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h2>{{title}}</h2>
        </div>
        <div class="col-3 d-flex align-items-center">
            from:
            <app-datepicker
                [(date)]="from"
                [maxDate]="to"
                [type]="'start'"
                [disabled]="true">
            </app-datepicker>
        </div>
        <div class="col-3 d-flex align-items-center">
            to:
            <app-datepicker
                [(date)]="to"
                [minDate]="from"
                [type]="'end'"
                [disabled]="true">
            </app-datepicker>
        </div>
    </div>
</div>
<table class="list-items list-items--orderable">
    <thead>
    <tr>
        <th app-table-header
            [column]="model.columns[0]" [(model)]="model"
            (modelChange)="sortTable()"></th>
        <th app-table-header
            [column]="model.columns[1]" [(model)]="model"
            (modelChange)="sortTable()"></th>
        <th app-table-header
            [column]="model.columns[2]" [(model)]="model"
            (modelChange)="sortTable()"></th>
        <th app-table-header
            [column]="model.columns[3]" [(model)]="model"
            (modelChange)="sortTable()" [hide]="'filters'"></th>
        <th app-table-header
            [column]="model.columns[4]" [(model)]="model"
            (modelChange)="sortTable()"></th>
        <th app-table-header
            [column]="model.columns[5]" [(model)]="model"
            (modelChange)="sortTable()"></th>
        <th app-table-header
            [column]="model.columns[6]" [(model)]="model"
            (modelChange)="sortTable()"></th>
    </tr>
    </thead>
    <tbody *ngIf="!loading">
    <tr *ngFor="let donation of sortedDonations" class="list-items--item">
        <td class="pointer" [routerLink]="['/'+ routing.PORTAL_USERS_FULL_PATH, donation.portal_user.id]">
            {{donation.portal_user.user?.user_detail.first_name}} {{donation.portal_user?.user.user_detail.last_name}}
        </td>
        <td>
            {{donation.donation | currency: 'EUR': 'symbol': '1.0-2'}}
        </td>
        <td>
            {{donation.is_monthly_donation | monthly}}
        </td>
        <td>
            {{donation.created_at}}
        </td>
        <td>
            {{donation.type}}
        </td>
        <td>
            {{donation.widget.widget_type.name}}
        </td>
        <td class="pointer" [routerLink]="[routing.CAMPAIGNS_FULL_PATH, donation.widget.campaign.id]">
            {{donation.widget.campaign.name}}
        </td>
    </tr>
    </tbody>
</table>
<app-loading [isLoading]="loading"></app-loading>
