@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.backToList {
  background: transparent;
  outline: none;
  color: $azure;
  @include transitionSingle(.3s ease);
  @include borderRadius(4px);
  padding: 10px;
  margin: 15px 15px 0 15px;
  border: 1px solid $azure;
  &:hover {
    border: 1px solid $azure;
    color: $white;
    background: $azure;
  }
}