<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>{{title}}</h2>
        </div>
        <div class="col-3 d-flex align-items-center">
            from:
            <app-datepicker
                [(date)]="from"
                [maxDate]="to"
                [type]="'start'"
                (dateChange)="refreshTable()"
                [disabled]="disabledDate">
            </app-datepicker>
        </div>
        <div class="col-3 d-flex align-items-center">
            to:
            <app-datepicker
                [(date)]="to"
                [minDate]="from"
                [type]="'end'"
                (dateChange)="refreshTable()"
                [disabled]="disabledDate">
            </app-datepicker>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="list-items list-items--orderable">
                <thead>
                <tr>
                    <th class="id">#</th>
                    <th app-table-header *ngFor="let column of model.columns"
                        [column]="column" [(model)]="model"
                        (modelChange)="sortTable()"></th>
                </tr>
                </thead>
                <tbody *ngIf="!loading">
                <tr *ngFor="let payment of sortedPayments; let i = index" class="list-items--item"
                    (click)="showDonationDetail(payment.id)" >
                    <td>{{i+1}}</td>
                    <td>
                        {{payment.transaction_date | date:'dd.MM.yyyy' }}
                    </td>
                    <td>
                        {{payment.amount | currency: 'EUR': 'symbol': '1.0-2':'sk'}}
                    </td>
                    <td>
                        {{(payment.payment_method === null) ? 'N/A' : paymentMethods[payment.payment_method - 1]}}
                    </td>
                    <!--<td class="pointer" [routerLink]="['/'+ routing.PORTAL_USERS_FULL_PATH, donation.portal_user.id]">-->
                        <!--{{donation.portal_user.user?.user_detail.first_name}}-->
                        <!--{{donation.portal_user?.user.user_detail.last_name}}-->
                    <!--</td>-->
                    <td>
                        {{payment.iban}}
                    </td>
                    <td>
                        {{payment.variable_symbol}}
                    </td>

                    <td class="pointer">
                        {{payment.donation?.widget.campaign.name != null ? payment.donation.widget.campaign.name : '---'}}
                    </td>
                </tr>
                </tbody>
            </table>
            <app-loading [isLoading]="loading"></app-loading>
        </div>
    </div>
</div>