
// Body
$body-bg: #f8fafc;
$outer-space: #2E3131;
$white: #ffffff;
$azure: #0074E9;
$dark-blue: #4D05E8;
$bali: #8AA1B1;
$geyser: #D8DFE5;
$aquaHaze: #F4F7F9;
$black: #000000;
$mystic: #E1E7EB;
$heather: #AEBEC9;
$sail: #ABD1F8;
$gullGray: #9BAFBC;
$cararra: #F2F1EF;
$alto: #DDDDDD;
$green: #10BE16;
$iron: #d0d3d6;
$curiousBlue: #158eea;
$polar: #f3f8fc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
