@import "variables";

.signedUsersList {
  position: absolute;
  background: rgba(0,116,233, .95);
  color: $white;
  width: 100%;
  height: 100%;
  z-index: 999999;
  right: 0;
  top: 0;
  overflow-y: auto;
  h2 {
    position: fixed;
    display: block;
    width: 43%;
    padding: 30px;
    margin: 0 auto;
    background: rgba(0,116,233, .7);
  }
  table {
    width: 100%;
    margin-top: 100px;
    color: $white;
    overflow-y: auto;
    svg {
      cursor: pointer;
    }
  }
  &--close {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 50px;
    top: 10px;
  }
}