<div class="active bg-overlay">
    <app-target-modal></app-target-modal>
</div>
<div class="active settings">
    <div class="settings--head">
        <ng-container *ngIf="newCampaign; else editTitle">
            <b>NEW CAMPAIGN</b>
        </ng-container>
        <ng-template #editTitle>
            <b>EDIT CAMPAIGN</b>
        </ng-template>
        <span
                [inlineSVG]="'/assets/images/icons/close.svg'"
                (click)="closeEditWindow()"
                title="Close"
                class="settings--close">
        </span>

    </div>
    <!--<div class="campaignEdit&#45;&#45;body">-->
    <!--<form>-->
    <!--<app-dragAndDrop></app-dragAndDrop>-->
    <!--<angular-editor [config]="editorConfig"></angular-editor>-->
    <!--</form>-->
    <!--</div>-->
    <app-loading [isLoading]="loading"></app-loading>
    <ng-container *ngIf="!loading">
            <app-campaign-settings class="d-flex settings--body" style="overflow: hidden" [campaign]="campaign"></app-campaign-settings>
            <!--<div>-->
            <!--<mat-tab-group mat-align-tabs="start">-->
            <!--<mat-tab label="Campaign settings">-->
            <!--<app-campaign-settings></app-campaign-settings>-->
            <!--</mat-tab>-->
            <!--<mat-tab label="Widget settings">-->
            <!--<app-widget-settings></app-widget-settings>-->
            <!--</mat-tab>-->
            <!--</mat-tab-group>-->
            <!--</div>-->

        <!--<ngb-alert *ngIf="!validInput()"  [type]="'danger'" >{{ errorMessage }}</ngb-alert>-->
        <app-alert *ngIf="!validInput() && submitted" [type]="'danger'" [(open)]="error" [message]="errorMessage" > </app-alert>
        <app-actions (preview)="previewOpen = !previewOpen" class="actions" (submit)="handleSubmit()" [submitting]="saving" [hidePreviewButton]="newCampaign"></app-actions>
    </ng-container>
</div>

<app-preview *ngIf="previewOpen" [(show)]="previewOpen" [campaignId]="campaign.id" [deviceType]="deviceType"></app-preview>
<app-preview  #previewGenerate *ngIf="creatingHTMLs" [class]="'hide'" [generateHTML]="'true'" [show]="'false'" [createdCampaign]="createdCampaign" [deviceType]="deviceType"></app-preview>

