@import 'variables';
.paymentOptions {
  padding: 15px;
  position: absolute;
  overflow: auto;
  height: 93%;
  width: 100%;
  th.waiting_for_payment {
    color: $red;
  }
  th.processed {
    color: $green;
  }
  th.underline {
    cursor: pointer;
    text-decoration: underline;
  }
}