<div id="footer-container">
  <div>
    <div
            class="footer-button"
            title="Contact Developer"
            [inlineSVG]="'/assets/images/icons/developer_contact.svg'"
            (click)="contactClick()"
    >
    </div>
    <div
            class="footer-button"
            title="FAQ"
            [inlineSVG]="'/assets/images/icons/faq.svg'"
            (click)="faqClick()"
    >
    </div>
    <div
            class="footer-button"
            title="Global Settings"
            [inlineSVG]="'/assets/images/icons/Global.svg'"
            (click)="globalSettings()"
    ></div>
  </div>
</div>
