<div class="row">
    <div class="col-6">
        Transaction id
    </div>
    <div class="col-6">
        {{donation.payment?.transaction_id}}
    </div>
    <div class="col-6">
        IBAN
    </div>
    <div class="col-6">
        {{donation.payment?.iban}}
    </div>
    <div class="col-6">
        Variable symbol
    </div>
    <div class="col-6">
        {{donation.payment?.variable_symbol}}
    </div>
    <div class="col-6">
        Constant symbol
    </div>
    <div class="col-6">
        todo
    </div>
    <div class="col-6">
        Specific symbol
    </div>
    <div class="col-6">
        todo
    </div>
    <div class="col-6">
        Description
    </div>
    <div class="col-6">
        todo
    </div>
    <div class="col-6">
        Amount
    </div>
    <div class="col-6">
        {{donation.payment?.amount | currency: 'EUR': 'symbol':'1.0-2' : 'sk'}}
    </div>
    <div class="col-6">
        Type
    </div>
    <div class="col-6">
        {{donation.payment?.transfer_type | transferTypeConvertToString}}
    </div>
    <div class="col-6">
        Transaction date
    </div>
    <div class="col-6" [title]="(donation.payment?.transaction_date | safariDate | date:'dd.MM.yyyy HH:mm:ss')">
        {{donation.payment?.transaction_date | safariDate | date:'dd.MM.yyyy'}}
    </div>
</div>