.cp-custom {
    ::ng-deep color-picker {
        .color-picker {
            top: 35% !important;
            right: 10% !important;
            left: initial !important;
            position: fixed;
            .arrow-left {
                display: none;
            }
        }
    }
}