@import "../../sass/variables";

.sidebar-item-wrapper {

  background-color: white;

  .sub-items {

    ul {
      padding-left: 10px;
      padding-right: 10px;
      list-style-type: none;

      li {
        padding-left: 15px;
        height: 38px;
        line-height: 38px;
        font-size: 15px;
        color: $sidebar-fontcolor;
        transition: 0.3s;
        font-weight: 500;
        cursor: pointer;
        border-radius: 4px;

        &.active-item {
          color: #FFFFFF;
          //background-image: linear-gradient(to left, $azure, $dark-blue);
          background: $azure;
        }

        &:not(.active-item):hover {
          background-color: $gray-themecolor;
        }
      }
    }
  }

  .button-new-campaign {
    padding-left: 25px;
    padding-right: 25px;
  }

  .sidebar-item-header {
    font-family: Lato, 'sans-serif';
    color: #2E3131;
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 40px;
  }
}

