@import "../../sass/variables";

.sidebar-item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: white;

  .sub-items {
    flex-shrink: 1;
    overflow-y: auto;
    overflow-x: hidden;


    ul {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      list-style-type: none;

      li {
        flex: 1 0 38px;
        padding-left: 15px;
        line-height: 38px;
        font-size: 15px;
        color: $sidebar-fontcolor;
        transition: 0.3s;
        font-weight: 500;
        cursor: pointer;
        border-radius: 4px;

        &.active-item {
          color: #FFFFFF;
          //background-image: linear-gradient(to left, $azure, $dark-blue);
          background: $azure;
        }

        &:not(.active-item):hover {
          background-color: $gray-themecolor;
        }
      }
    }
  }

  .button-new-campaign {
    flex-shrink: 0;
    padding: 25px;
  }

  .sidebar-item-header {
    flex-shrink: 0;
    font-family: Lato, 'sans-serif';
    color: #2E3131;
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 30px;
  }
}

