<link [href]="'https://fonts.googleapis.com/css?family='+currentFonts | safe" rel="stylesheet">
<div class="numberOfFonts">
    <ngx-select [multiple]="true"
            [items]="fontFamilyStrings"
            [disabled]="false"
            [keepSelectedItems]="true"
            [defaultValue]="selectedValues"
            (open)="openAction()"
            (select)="selectAction()"
            [autoActiveOnMouseEnter]="true"
            (selectionChanges)="emitValues()"
            id="fontFamilyList"
            [placeholder]="'No fonts selected'" #fontFamilyList>
    </ngx-select>
</div>
