<link [href]="'https://fonts.googleapis.com/css?family='+currentFonts | safe" rel="stylesheet">


<div class="numberOfFonts">
    <label for="numberOfFonts">Choose number of Google Fonts:</label>
    <app-dropdown
            [items]="numberOptions"
            [title]="'Please, select number of fonts'"
            [currentValue]="currentOptionValue"
            id="numberOfFonts"
            (currentValueChange)="countOfFonts($event)">
    </app-dropdown>
</div>

<hr>
<label for="fontFamilyList">Choose app fonts:</label>
<ngx-select [multiple]="true"
            [items]="fontFamilyStrings"
            [disabled]="false"
            [keepSelectedItems]="true"
            [defaultValue]="selectedValues"
            (open)="openAction()"
            (select)="selectAction()"
            [autoActiveOnMouseEnter]="true"
            id="fontFamilyList"
            [placeholder]="'No fonts selected'" #fontFamilyList>
</ngx-select>
