&--donationsTable {
  width: 100%;
  thead {
    background: $sail;
    color: $white;
    th {
      text-align: center;
      padding: 7px 5px;
    }
  }
  tbody {
    padding: 7px 15px;
    tr {
      &:nth-child(odd) {
        background: $white;
      }
      td {
        text-align: center;
        padding: 5px;
        &.ok {
          color: $green;
        }
        &.waiting {
          color: $red;
        }
      }
    }
  }
}