@import '../../../../../../sass/variables';
@import '../../../../../../sass/mixins';


button {
    width: 100%;
    height: 48px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    @include borderRadius(3px);
    img {
        display: inline-flex;
        margin-top: -2px;
        width: 36px;
        height: 36px;
    }
    &.classic {
        width: 200px;
        border: 1px solid $geyser;
        color: $bali;
        text-align: center;
        font-size: 14px;
        background-color: Transparent;
        background-repeat: no-repeat;
        overflow: hidden;
        outline: none;
        vertical-align: middle;
        @include transitionSingle(.3s ease);
        &:not(.disabled):hover {
            border: none;
            background: $aquaHaze;
        }
    }
    &[icon=".*"] {
        padding-top: 5px;
    }
    &.disabled {
        border: none;
        background: $cararra;
        color: $alto;
        cursor: initial;
    }
    span {
        ::ng-deep svg {
            height: 80%;
            width: auto;
        }
    }
}


