@import '../../../../../sass/classes';

.campaign-settings-content {
    font-family: Lato, 'sans-serif';
    color: #2E3131;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .collapsible {
        &--header {
            font-weight: bold;
            font-size: 17px;
            cursor: pointer;
            flex: none;
        }
    }

    .card-wrapper{
        overflow: auto;
    }

    &-input {
        margin-top: 10px;
        margin-bottom: -15px;
        border: none;
    }

    .collapse-container{
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .flex-open{
        flex: 1;
    }

    .flex-closed{
        flex: 1 0 auto;
    }

    &.container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

}

.button-expand {
    border: none;
    background: url('/assets/images/icons/plus.svg');
    float: right;
    width: 16px;
    height: 15px;
    cursor: pointer;
    &[aria-expanded=true]{
        background: url('/assets/images/icons/minus.svg');
    }


}
