<div class="settings--body">
    <div class="settings--body--content">
        <div class="collapse-container" [ngClass]="{'flex-open':isOpened(1)}">
            <div class="collapsible--header row" (click)="openTab(1)">
                <div class="col-11">
                    GENERAL
                </div>
                <div class="col-1">
                    <label class="button-expand"
                           type="button"
                           [attr.aria-expanded]="isOpened(1)" aria-controls="general-settings">
                    </label>
                </div>
            </div>
            <div class="settings--card--wrapper" [ngbCollapse]="!isOpened(1)">
                <div class="settings--card">
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold">{{campaign.active ? 'Actived' : 'Deactived'}}</span>
                            <app-switcher [id]="'status-switcher'"
                                          [(checked)]="campaign.active" class="float-right"></app-switcher>
                        </div>
                    </div>
                </div>
                <div class="settings--card">
                    <div class="row">
                        <label for="campaignName" class="col-12 font-weight-bold">Campaign name</label>
                    </div>

                    <div class="editInput row">
                        <div class="col">
                            <input #campaignName id="campaignName"
                                   placeholder="Add campaign name"
                                   [(ngModel)]="campaign.name"
                                   maxlength="120">
                            <span class="actualLength">
                                {{campaign.name ? campaign.name.length: " 0 "}} / {{campaignName?.maxLength}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="settings--card">
                    <div class="row">
                        <label for="shortDescription" class="col-12 font-weight-light">Description</label>
                    </div>
                    <div class="editInput row">
                        <div class="col">
                            <input id="shortDescription" class=""
                                   placeholder="Add short description to your campaign"
                                   [(ngModel)]="campaign.description"
                            >
                        </div>
                    </div>
                </div>
                <div class="settings--card">
                    <div class="row">
                        <div class="col-12">
                            <label class="font-weight-bold">Duration</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="bold"> Start </div>
                            <app-datepicker
                                    [(date)]="campaign.date_from"
                                    [maxDate]="this.campaign.promote_settings.donation_goal.active ? null : campaign.date_to"
                                    [type]="'start'">
                            </app-datepicker>
                        </div>
                        <!--<div class="col-6">-->
                            <!--<div class="fs15">End</div>-->
                            <!--<app-datepicker-->
                                    <!--[(date)]="campaign.date_to"-->
                                    <!--[minDate]="campaign.date_from"-->
                                    <!--[type]="'end'">-->

                            <!--</app-datepicker>-->
                        <!--</div>-->
                    </div>
                    <div class="row mt-3">
                        <div class="col bold">
                           End
                        </div>
                    </div>
                    <div class="row mt-2">
                        <app-radio-button class="col"
                                          [(currentValue)]="campaign.promote_settings.donation_goal.active"
                                          (currentValueChange)="campaign.promote_settings.selected_date.active=!$event"
                                          [radioButtons]="campaignEndRadioButtons"
                                          [colClass]="'col'"></app-radio-button>
                    </div>
                    <ng-container *ngIf="!this.campaign.promote_settings.donation_goal.active">
                        <div class="row pt-2">
                            <div class="col-12">
                                <app-datepicker
                                        [(date)]="campaign.date_to"
                                        [minDate]="campaign.date_from"
                                        [type]="'end'">
                                </app-datepicker>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.campaign.promote_settings.donation_goal.active">
                        <div class="row pt-2 inputs-group"
                             *ngIf="this.campaign.promote_settings.donation_goal.active">
                            <div class="col">
                                <input type="number"
                                       class="number-currency"
                                       [(ngModel)]="campaign.promote_settings.donation_goal.value"
                                       placeholder="Insert donation goal"

                                />
                                <input type="string"
                                       class="number-currency"
                                       placeholder="EUR (€)"
                                       disabled
                                />
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="collapse-container" [ngClass]="{'flex-open':isOpened(2)}">
            <div class="collapsible--header row" (click)="openTab(2)">
                <div class="col-sm-11">
                    TARGETING
                </div>
                <div class="col-sm-1">
                    <label class="button-expand"
                           type="button"
                           [attr.aria-expanded]="isOpened(2)" aria-controls="targeting-settings">
                    </label>
                </div>
            </div>
            <div class="settings--card--wrapper" [ngbCollapse]="!isOpened(2)">
                <div class="settings--card">
                   Temporally not supported feature.
                </div>
            </div>
        </div>
    </div>
</div>