<div class="cft--monetization--container" [ngStyle]="getMonetizationContainerStyle()" id="cft-monetization__container"
     *ngIf="widget.settings[deviceType].payment_settings.active">
    <form id="cft--monatization--form--donate">
        <div class="cft--monatization--title" [innerHtml]="'Amount to donate: '">
        </div>
        <div class="cft--monatization--donation-button-wrapper cft--monatization--only-monthly"
             [ngClass]="{'cft--monatization--hidden': widget.settings[deviceType].payment_settings.payment_type==paymentTypes.once.value}"
             [ngStyle]="getRowStyle()">
            <div class="cft--monatization--donation-button-container cft--monatization--donation-button--monthly"
                 [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.value == 'custom' }"
                 [ngStyle]="getMonatizationDonationButtonStyle()"
                 *ngIf="widget.settings[deviceType].payment_settings.monthly_prices.custom_price">
                <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                     onclick="parent.setActiveButtonMonthly(this, true)"
                     oninput="parent.setActiveButtonMonthly(this)">
                    <input type="number" class="cft--monatization--donation-input-price"
                           [ngStyle]="getDonationInputPriceStyle()" placeholder="custom"/>
                    <div class="cft--monatization--donation-button-periodicity"
                         [ngStyle]="getDonationButtonPeriodicityStyle()"> monthly
                    </div>
                </div>
            </div>
            <div class="cft--monatization--donation-button-container cft--monatization--donation-button--monthly"
                 [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.value == option.value}"
                 [ngStyle]="getMonatizationDonationButtonStyle()"
                 *ngFor="let option of widget.settings[deviceType].payment_settings.monthly_prices.options">
                <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                     onclick="parent.setActiveButtonMonthly(this)">
                    <input type="hidden" value="{{option.value}}">
                    <div class="cft--monatization--donation-button-price" [ngStyle]="getDonationButtonPriceStyle()">
                        {{option.value}}
                    </div>
                </div>
            </div>
        </div>
        <div class="cft--monatization--donation-button-wrapper cft--monatization--only-one-time"
             [ngClass]="{'cft--monatization--hidden': widget.settings[deviceType].payment_settings.payment_type==paymentTypes.both.value ||
             widget.settings[deviceType].payment_settings.payment_type==paymentTypes.monthly.value}"
             [ngStyle]="getRowStyle()">
            <div id="cft--monatization--donation-button--one-time"
                 class="cft--monatization--donation-button-container cft--monatization--donation-button--one-time"
                 [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.value == option.value}"
                 [ngStyle]="getMonatizationDonationButtonStyle()"
                 *ngFor="let option of widget.settings[deviceType].payment_settings.once_prices.options">
                <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                     onclick="parent.setActiveButtonOneTime(this)">
                    <input type="hidden" value="{{option.value}}">
                    <div class="cft--monatization--donation-button-price" [ngStyle]="getDonationButtonPriceStyle()">
                        {{option.value}}
                    </div>
                </div>
            </div>
            <div class="cft--monatization--donation-button-container cft--monatization--donation-button--one-time"
                 [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.value == 'custom' }"
                 [ngStyle]="getMonatizationDonationButtonStyle()"
                 *ngIf="widget.settings[deviceType].payment_settings.once_prices.custom_price">
                <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                     onclick="parent.setActiveButtonOneTime(this, true)"
                     oninput="parent.setActiveButtonOneTime(this)">
                    <input type="number" class="cft--monatization--donation-input-price"
                           [ngStyle]="getDonationInputPriceStyle()" placeholder="custom"/>
                </div>
            </div>
        </div>
        <div class="cft--monatization--title" [innerHtml]="'Frequency: '">
        </div>
        <div class="cft--monatization--donation-button-wrapper" [ngStyle]="getRowStyle()">
            <div id="cft--monatization--donation--monthly" class="cft--monatization--donation--one-monthly"
                 [ngClass]="{'active':widget.settings[deviceType].payment_settings.payment_type==paymentTypes.monthly.value ||
                 widget.settings[deviceType].payment_settings.payment_type==paymentTypes.both.value}"
                 [ngStyle]="getMonatizationFrequencyButtonStyle()"
                 *ngIf="widget.settings[deviceType].payment_settings.payment_type==paymentTypes.both.value">
                <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()" onclick="parent.monthlyPayment()">
                    <div style="text-align: center">Monthly</div>
                </div>
            </div>
            <div id="cft--monatization--donation--one-time" class="cft--monatization--donation-button" [ngStyle]="getMonatizationFrequencyButtonStyle()"
                 [ngClass]="{'active':widget.settings[deviceType].payment_settings.payment_type==paymentTypes.once.value}"
                 *ngIf="widget.settings[deviceType].payment_settings.payment_type == paymentTypes.both.value" >
                <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()" onclick="parent.oneTimePayment()">
                    <div style="text-align: center">Once</div>
                </div>
            </div>
        </div>
        <div onsubmit="return parent.validateForm(this)" class="form" action="#"
              method="post" novalidate>
            <div class="cft--monatization--form-group--donate" [ngStyle]="getFormGroupStyle()">
                <label for="cft--monatization--form--donate--email" class="label" [ngStyle]="getLabelStyle()">Your
                    e-mail</label>
                <input class="cft--monatization--form--donate--email" type="email"
                       id="cft--monatization--form--donate--email" [ngStyle]="getEmailDonateStyle()"
                       name="email" required>
                <label id="cft--monatization--form-email-error" class="error" [ngStyle]="getErrorStyle()"
                       for="cft--monatization--form--donate--email">Wrong e-mail</label>
            </div>
            <div class="cft--monatization--form--donate--terms" [ngStyle]="getFormGroupStyle()">
                <input id="cft--monatization--form--donate--terms" type="checkbox" name="terms_agreed" value="0" required>
                <label for="cft--monatization--form--donate--terms">I agree with  <a
                        href="https://podpora.postoj.sk/assets/donations-widget/pdf/suhlas_so_spracovanim_osobnych_udajov.pdf">terms and conditions</a></label>
                <label id="cft--monatization--form--donate--terms-error"
                       [ngStyle]="getErrorStyle()"
                       class="error"
                       for="cft--monatization--form--donate--terms">Please agree with terms and conditions</label>
            </div>
            <div class="cft--button-container" [ngStyle]="getButtonContainerStyles()" *ngIf="ctaReplaced()">
                <button type="submit" class="cft--button"
                        [ngStyle]="getButtonStyles()">
                    {{widget.settings[deviceType].cta.text}}
                </button>
            </div>
        </div>
    </form>
</div>
