<div class="active bg-overlay"></div>
<div class="d-flex active settings">
    <div class="settings--head">
        <b>CALL TO ACTION SETTINGS</b>
        <span
                [inlineSVG]="'/assets/images/icons/close.svg'"
                (click)="closeEditWindow()"
                title="Close"
                class="settings--close">
        </span>
    </div>
    <ng-container *ngIf="loading">
        <app-loading [isLoading]="loading"></app-loading>
    </ng-container>
    <ng-container *ngIf="!loading">
        <div class="settings--body">
            <div class="settings--body--content">
                <div class="collapse-container flex-open">
                    <div class="col-12">
                        <div class="row">
                            <div class="btn-group-vertical col-12 mb-3">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button"
                                            (click)="cta='Default'"
                                            [class]="(cta == 'Default') ? 'btn active' : 'btn'">
                                        Default
                                    </button>
                                    <button type="button" (click)="cta='Hover'"
                                            [class]="(cta == 'Hover') ? 'btn active' : 'btn'">Hover
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="settings--card--wrapper" *ngIf="cta=='Default'">
                        <div class="settings--card">
                            <div class="settings--card--body">
                                <div class="row">
                                    <div class="col-12 bold">
                                        Button offsets
                                    </div>
                                    <div class="col-12 col-xxl-6">
                                        Inside
                                        <app-input-group [buttons]="paddingButtons"
                                                         (buttonChange)="call_to_action.default.padding[$event.name] = $event.value">

                                        </app-input-group>
                                    </div>
                                    <div class="col-12 col-xxl-6">
                                        Outside
                                        <app-input-group [buttons]="marginButtons"
                                                         (buttonChange)="call_to_action.default.margin[$event.name] = $event.value">
                                        </app-input-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings--card">
                            <div class="row">
                                <div class="col-12 bold">
                                    Font settings
                                </div>
                            </div>
                            <div class="settings--card--body">
                                <div class="row">
                                    <div class="col-6 col-xxl-2 vertical-align">
                                        Family
                                    </div>
                                    <div class="col-6 ">
                                        <app-dropdown [items]="fontFamily"
                                                      [class]="'classic default-border align-right'"
                                                      [title]="'Choose font'"
                                                      [customFonts]="true"
                                                      [(currentValue)]="call_to_action.default.fontSettings.fontFamily">
                                        </app-dropdown>
                                    </div>
                                    <div class="col-3 col-xxl-2 vertical-align">
                                        Font weight
                                    </div>
                                    <div class="col-3 col-xxl-2">
                                        <app-dropdown [items]="fontWeight"
                                                      [class]="'classic default-border align-right'"
                                                      [title]="'weight'"
                                                      [(currentValue)]="call_to_action.default.fontSettings.fontWeight">
                                        </app-dropdown>
                                    </div>
                                    <div class="col-3 col-xxl-2 vertical-align">
                                        Alignment
                                    </div>
                                    <div class="col-3 col-xxl-2 vertical-align">
                                        <app-radio-button-group [class]="'full-width'"
                                                                [(currentValue)]="call_to_action.default.fontSettings.alignment"
                                                                [radioButtons]="radioButtons"
                                        >
                                        </app-radio-button-group>
                                    </div>
                                    <div class="col col-xxl-2 vertical-align">
                                        Color
                                    </div>
                                    <div class="col col-xxl-2 color-picker--fixed color-picker--simple">
                                        <input [value]="call_to_action.default.fontSettings.color"
                                               class="btn color-picker--custom"
                                               [style.background]="call_to_action.default.fontSettings.color"
                                               [cpPosition]="'top'"
                                               [cpPresetColors]="generalSettings.colors"
                                               [(colorPicker)]="call_to_action.default.fontSettings.color"/>
                                    </div>
                                    <div class="col col-xxl-2 vertical-align">
                                        Size (px)
                                    </div>
                                    <div class="col col-xxl-2">
                                        <app-inputNumber
                                                [(value)]="call_to_action.default.fontSettings.fontSize"
                                                [class]="'float-right'">
                                        </app-inputNumber>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings--card">
                            <div class="settings--card--body">
                                <div class="row">
                                    <div class="col bold">
                                        Design
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <app-checkbox [name]="'Fill'"
                                                      [(checked)]="call_to_action.default.design.fill.selected">
                                        </app-checkbox>
                                    </div>
                                    <div class="col-4 color-picker--fixed color-picker--simple"
                                         *ngIf="call_to_action.default.design.fill.selected">
                                        <input [value]="call_to_action.default.design.fill.color"
                                               class="btn color-picker--custom"
                                               [style.background]="call_to_action.default.design.fill.color"
                                               [cpPosition]="'top'"
                                               [cpPresetColors]="generalSettings.colors"
                                               [(colorPicker)]="call_to_action.default.design.fill.color"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <app-checkbox [name]="'Border'"
                                                      [(checked)]="call_to_action.default.design.border.selected">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="call_to_action.default.design.border.selected">
                                        <div class="col-4 color-picker--fixed color-picker--simple">
                                            <input [value]="call_to_action.default.design.border.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="call_to_action.default.design.border.color"
                                                   [cpPosition]="'top'"
                                                   [cpPresetColors]="generalSettings.colors"
                                                   [(colorPicker)]="call_to_action.default.design.border.color"/>
                                        </div>
                                        <div class="col-2 offset-1 vertical-align">
                                            Size (px)
                                        </div>
                                        <div class="col-2">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="call_to_action.default.design.border.size"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>

                                <div class="row ">
                                    <div class="col-3">
                                        <app-checkbox [name]="'Shadow'"
                                                      [(checked)]="call_to_action.default.design.shadow.selected">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="call_to_action.default.design.shadow.selected">
                                        <div class="col-4 color-picker--fixed color-picker--simple">
                                            <input [value]="call_to_action.default.design.shadow.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="call_to_action.default.design.shadow.color"
                                                   [cpPosition]="'top'"
                                                   [cpPresetColors]="generalSettings.colors"
                                                   [(colorPicker)]="call_to_action.default.design.shadow.color"/>
                                        </div>
                                        <div class="col-5 vertical-align">
                                            <app-input-group [buttons]="shadowButtons"
                                                             (buttonChange)="call_to_action.default.design.shadow[$event.name] = $event.value">
                                            </app-input-group>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="settings--card">
                            <div class="settings--card--header">
                                <div class="row ">
                                    <div class="col">
                                        Radius
                                    </div>
                                </div>
                            </div>
                            <div class="settings--card--body">
                                <div class="row">
                                    <div class="col-3 vertical-align">
                                        <app-radio-button-group
                                                [(currentValue)]="call_to_action.default.design.radius.selected"
                                                [radioButtons]="radiusButtons">
                                        </app-radio-button-group>
                                    </div>
                                    <ng-container
                                            *ngIf="call_to_action.default.design.radius.selected">
                                        <div class="col-3 vertical-align">
                                            <app-input-group [buttons]="allRadiusesButton"
                                                             (buttonChange)="writeRadiusValue($event.value)"
                                                             [fill]="true"
                                                             [class]="!specificRadius?'active':''"
                                                             (click)="setSpecificRadius(false)">
                                            </app-input-group>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-2 vertical-align text-right">
                                                    or
                                                </div>
                                                <div class="col-10">
                                                    <app-input-group [buttons]="specificRadiusButtons"
                                                                     (buttonChange)="call_to_action.default.design.radius[$event.name] = $event.value"
                                                                     [fill]="true"
                                                                     [class]="specificRadius?'active':''"
                                                                     (click)="setSpecificRadius(true)">
                                                    </app-input-group>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="settings--card--wrapper" *ngIf="cta=='Hover'">
                        <div class="settings--card">
                            <div class="settings--card--body">
                                <div class="row">
                                    <div class="col bold">Hover font settings</div>
                                </div>
                                <div class="row">
                                    <div class="col-2 vertical-align">
                                        Font weight
                                    </div>
                                    <div class="col-4">
                                        <app-dropdown [class]="'classic default-border'"
                                                      [title]="'Choose font weight'"
                                                      [items]="fontWeight"
                                                      [(currentValue)]="call_to_action.hover.fontSettings.fontWeight">
                                        </app-dropdown>
                                    </div>
                                    <div class="col-2 vertical-align">
                                        Color
                                    </div>
                                    <div class="col-4 color-picker--fixed color-picker--simple">
                                        <input [value]="call_to_action.hover.fontSettings.color"
                                               class="btn color-picker--custom"
                                               [style.background]="call_to_action.hover.fontSettings.color"
                                               [cpPosition]="'top'"
                                               [cpPresetColors]="generalSettings.colors"
                                               [(colorPicker)]="call_to_action.hover.fontSettings.color"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings--card">
                            <div class="settings--card--body">
                                <div class="row">
                                    <div class="col bold">
                                        Design
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <app-checkbox [name]="'Fill'"
                                                      [(checked)]="call_to_action.hover.design.fill.selected">
                                        </app-checkbox>
                                    </div>
                                    <div class="col-4 color-picker--fixed color-picker--simple"
                                         *ngIf="call_to_action.hover.design.fill.selected">
                                        <input [value]="call_to_action.hover.design.fill.color"
                                               class="btn color-picker--custom"
                                               [style.background]="call_to_action.hover.design.fill.color"
                                               [cpPosition]="'top'"
                                               [cpPresetColors]="generalSettings.colors"
                                               [(colorPicker)]="call_to_action.hover.design.fill.color"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <app-checkbox [name]="'Border'"
                                                      [(checked)]="call_to_action.hover.design.border.selected">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="call_to_action.hover.design.border.selected">
                                        <div class="col-4 color-picker--fixed color-picker--simple">
                                            <input [value]="call_to_action.hover.design.border.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="call_to_action.hover.design.border.color"
                                                   [cpPosition]="'top'"
                                                   [cpPresetColors]="generalSettings.colors"
                                                   [(colorPicker)]="call_to_action.hover.design.border.color"/>
                                        </div>
                                        <div class="col-2 offset-1 vertical-align">
                                            Size (px)
                                        </div>
                                        <div class="col-2">
                                            <app-inputNumber [class]="'float-right'"
                                                             [(value)]="call_to_action.hover.design.border.size"></app-inputNumber>
                                        </div>
                                    </ng-container>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <app-checkbox [name]="'Shadow'"
                                                      [(checked)]="call_to_action.hover.design.shadow.selected">
                                        </app-checkbox>
                                    </div>
                                    <ng-container
                                            *ngIf="call_to_action.hover.design.shadow.selected">
                                        <div class="col-4 color-picker--fixed color-picker--simple">
                                            <input [value]="call_to_action.hover.design.shadow.color"
                                                   class="btn color-picker--custom"
                                                   [style.background]="call_to_action.hover.design.shadow.color"
                                                   [cpPosition]="'top'"
                                                   [cpPresetColors]="generalSettings.colors"
                                                   [(colorPicker)]="call_to_action.hover.design.shadow.color"/>
                                        </div>
                                        <div class="col-5 vertical-align">
                                            <app-input-group [buttons]="shadowButtons"
                                                             (buttonChange)="call_to_action.hover.design.shadow[$event.name] = $event.value">
                                            </app-input-group>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-alert [(open)]="alertOpen" [type]="alertType" [message]="alertMessage"></app-alert>
    </ng-container>
    <app-actions
            class="actions"
            (submit)="updateSettings()"
            [hidePreviewButton]="'true'"></app-actions>
</div>
