@import 'variables';
@import 'mixins';

.icon-delete {
    width: 1em;
    height: 1em;
    position: relative;
    margin-left: 3px;

    &--cross {
        &:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:before, &:after {
            content: '';
            position: absolute;
            border-top: 3px solid;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
        }
    }
}

.blur {
    &--subTarget {
        position: relative;
        &--span {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
            background: rgba(255, 255, 255, .8);
            z-index: 9;
        }
    }
    &--targetBigger {
        opacity: .6;
    }
}
.targetBigger {
    font-size: 22px;
}

.ngx-select__clear-icon[_ngcontent-c17]:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.settings--card {
    z-index: 1;
}

.cft--multiselect {
    width: 100%;
    padding: 10px;
    ::ng-deep .selectWrapper {
        width: 300px;
        border: 1px solid $outer-space;
        margin-left: 15px;
        @include borderRadius(4px);
    }

    ::ng-deep .btn {
        width: auto;
        height: auto;
    }
    ::ng-deep .ngx-select__search.form-control {
        cursor: pointer;
        background: url('/assets/images/icons/add.svg') no-repeat;
        padding-left: 50px!important;
        height: 50px!important;
    }
    ::ng-deep .ngx-select__selected {
        background: rgba($aquaHaze, .5);
        padding: 5px;
    }
    ::ng-deep app-dropdown {
        .selectWrapper {
            width: 150px !important;
            display: inline-block !important;
        }
        select {
            color: $azure;
            option {
                color: $outer-space;
            }
        }
    }
    ::ng-deep .ngx-select__choices {
        position: relative !important;
    }
}