@import '../../../../../../sass/variables';
@import '../../../../../../sass/mixins';

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.crowdfundingNumber, .crowdfunding-number {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    width: 100%;
    &--input {
        border: 1px solid $geyser;
        @include borderRadius(4px);
        width: 100%;
        padding: 5px 12px;
        @include transitionSingle(.3s ease);
        outline: none;
        height: 30px !important;
        &:focus, &:active {
            border: 1px solid $bali;
            outline: none;
        }
    }
    &--arrows {
        position: absolute;
        right: 0;
        button {
            display: block;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 0;
            &:last-child {
                margin-top: -10px;
            }
        }
    }
    &--little {
        flex-shrink: 1;
        flex-basis: 100px;
        input {
            font-size: 12px;
            max-width: 60px;
            height: 14px;
            padding-left: 2px;
        }
        .crowdfundingNumber--arrows {
            top: -8px;
            right: -7px;
            transform: scale(.7);
        }
    }
}
