<div class="campaignStatistics">
    <div class="row h-100">
        <div class="col-3">
            Crowdfunding - total
            <b>9 999 €</b>
        </div>
        <div class="col-3">
            Pageviews - total
            <b>6 000</b>
        </div>
        <div class="col-3">
            Engagement - total
            <b>73,43 %</b>
        </div>
        <div class="col-3 filters my-auto">
            <input type="radio" name="campaignStatisticsFilter" value="total" id="total">
            <label for="total" class="active">Total</label>
            <input type="radio" name="campaignStatisticsFilter" value="year" id="year">
            <label for="year">Year</label>
            <input type="radio" name="campaignStatisticsFilter" value="month" id="month">
            <label for="month">Month</label>
            <input type="radio" name="campaignStatisticsFilter" value="week" id="week">
            <label for="week">Week</label>
            <input type="radio" name="campaignStatisticsFilter" value="day" id="day">
            <label for="day">Day</label>
        </div>
    </div>
</div>
