<app-payment>
    <div class="paymentOptions col-12">
        <h2>Unpaired payments</h2>
        <div class="row">
            <div class="col">
                <button type="button" class="pairAllPayments" (click)="pairViaIbanModal(null)">
                    Pair all payments via IBAN
                </button>
            </div>
            <div class="col">
                <app-user-dropdown
                    [label]="null"
                    [extraClass]="'top15'"
                    [placeholder]="'Assign payments to user'"
                    (changedUser)="changeDonationAssignment($event)">
                </app-user-dropdown>
            </div>
        </div>
        <div class="row">
            <app-payment-table [dataType]="'unpaired'"
                               [disabledDate]="true" [emitDataChanges]="true" (dataChange)="updatePayments($event)" #tablePayments
                               [customOpenColumns]="['payment_notes']" [customCloseColumns]="['campaign_name']"  >
            </app-payment-table>
        </div>
    </div>
    <app-alert
        [(open)]="alertOpen"
        [type]="alertType"
        [message]="alertMessage"></app-alert>
</app-payment>
