<app-back-to-list></app-back-to-list>
<app-alert [(open)]="alertOpen" [fixed]="false" [type]="alertType" [message]="alertMessage"></app-alert>
<div class="user-detail d-flex flex-column" *ngIf="!loading">
    <div class="row">
        <div class="col-12">
            <h4>
                Detail of portal user with id <span *ngIf="user">{{user.id}}</span>:
                <span class="user-detail--lastUpdated">
                    Last updated by backoffice user <b>admin</b> in 07.09.2019 17:15:14
                </span>
                <button type="button" class="user-detail--edit" title="Edit portal user" (click)="showEditModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g id="edit_24px" transform="translate(-1816 -136)">
                            <rect id="safe_area" data-name="safe area" width="24" height="24"
                                  transform="translate(1816 136)" fill="#f2f1ef" opacity="0"/>
                            <g id="icon" transform="translate(246 20)">
                                <path id="Path_30" data-name="Path 30"
                                      d="M0,12.621V16H3.378l9.778-9.867L9.778,2.755ZM15.733,3.555a.859.859,0,0,0,0-1.244L13.689.266a.859.859,0,0,0-1.244,0l-1.6,1.6,3.378,3.378Z"
                                      transform="translate(1574 120.001)" fill="#0074E9"/>
                            </g>
                        </g>
                    </svg>

                </button>
            </h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                 x="0px" y="0px" viewBox="0 0 53 53" style="enable-background:new 0 0 53 53;" xml:space="preserve"
                 width="180px" height="180px" class=""><g><path style="fill:#E7ECED;" d="M18.613,41.552l-7.907,4.313c-0.464,0.253-0.881,0.564-1.269,0.903C14.047,50.655,19.998,53,26.5,53  c6.454,0,12.367-2.31,16.964-6.144c-0.424-0.358-0.884-0.68-1.394-0.934l-8.467-4.233c-1.094-0.547-1.785-1.665-1.785-2.888v-3.322  c0.238-0.271,0.51-0.619,0.801-1.03c1.154-1.63,2.027-3.423,2.632-5.304c1.086-0.335,1.886-1.338,1.886-2.53v-3.546  c0-0.78-0.347-1.477-0.886-1.965v-5.126c0,0,1.053-7.977-9.75-7.977s-9.75,7.977-9.75,7.977v5.126  c-0.54,0.488-0.886,1.185-0.886,1.965v3.546c0,0.934,0.491,1.756,1.226,2.231c0.886,3.857,3.206,6.633,3.206,6.633v3.24  C20.296,39.899,19.65,40.986,18.613,41.552z" data-original="#E7ECED" class=""/><g>
	<path style="fill:#0074E9"
          d="M26.953,0.004C12.32-0.246,0.254,11.414,0.004,26.047C-0.138,34.344,3.56,41.801,9.448,46.76   c0.385-0.336,0.798-0.644,1.257-0.894l7.907-4.313c1.037-0.566,1.683-1.653,1.683-2.835v-3.24c0,0-2.321-2.776-3.206-6.633   c-0.734-0.475-1.226-1.296-1.226-2.231v-3.546c0-0.78,0.347-1.477,0.886-1.965v-5.126c0,0-1.053-7.977,9.75-7.977   s9.75,7.977,9.75,7.977v5.126c0.54,0.488,0.886,1.185,0.886,1.965v3.546c0,1.192-0.8,2.195-1.886,2.53   c-0.605,1.881-1.478,3.674-2.632,5.304c-0.291,0.411-0.563,0.759-0.801,1.03V38.8c0,1.223,0.691,2.342,1.785,2.888l8.467,4.233   c0.508,0.254,0.967,0.575,1.39,0.932c5.71-4.762,9.399-11.882,9.536-19.9C53.246,12.32,41.587,0.254,26.953,0.004z"
          data-original="#556080" class="active-path" data-old_color="#556080"/>
</g></g> </svg>
        </div>
        <div class="col-5">
            <div class="user-detail--description" *ngIf="user">
                <table cellpadding="0" cellspacing="0" class="table table-responsive borderless" border="0">
                    <tr class="borderTr">
                        <td class="titleTd">NAME:</td>
                        <td><b>{{user.user_detail.first_name + ' ' + user.user_detail.last_name}}</b></td>
                    </tr>
                    <tr>
                        <td class="titleTd">ADDRESS:</td>
                        <td>
                            {{user.user_detail.street}} {{user.user_detail.house_number}}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{user.user_detail.zip}} {{user.user_detail.city}}</td>
                    </tr>
                    <tr class="borderTr">
                        <td></td>
                        <td>{{user.user_detail.country}}</td>
                    </tr>
                    <tr class="borderTr">
                        <td class="titleTd">TELEPHONE:</td>
                        <td>{{user.user_detail.telephone}}</td>
                    </tr>
                    <tr class="borderTr">
                        <td class="titleTd">EMAIL:</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td class="titleTd">USERNAME:</td>
                        <td>{{user.username}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-5">
            <div class="user-detail--description" *ngIf="user">
                <table cellpadding="0" cellspacing="0" class="table table-responsive borderless" border="0">
                    <tr class="borderTr">
                        <td class="titleTd">IBAN:</td>
                        <td><b>{{user.portal_user.user_payment_options?.bank_account_number}}</b></td>
                    </tr>
                    <tr class="borderTr">
                        <td class="titleTd">CARD NUMBER:</td>
                        <td><b>{{user.portal_user.user_payment_options?.payment_card_number}}</b></td>
                    </tr>
                    <tr class="borderTr">
                        <td class="titleTd">CARD EXPIRATION:</td>
                        <td><b>{{user.portal_user.user_payment_options?.payment_card_expiration_date}}</b></td>
                    </tr>
                    <tr class="borderTr">
                        <td class="titleTd">VARIABLE SYMBOL:</td>
                        <td>
                            <b>{{user.portal_user.variable_symbol.variable_symbol}}</b>
                        </td>
                    </tr>
                    <tr class="borderTr">
                        <td class="titleTd">MONTHLY DONOR:</td>
                        <td>
                            <app-donor-status [donorStatuses]="user.donor_status"
                                              [isMonthlyDonor]="user.portal_user.is_monthly_donor !== null"></app-donor-status>
                        </td>
                    </tr>
                    <tr>
                        <td class="titleTd">LAST DONATION:</td>
                        <td>{{user.portal_user.donations[0]?.created_at | date:'dd.MM.yyyy - HH:mm:ss' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 user-detail--notes">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>NOTES:</th>
                    <td>{{(user.portal_user.notes) ? user.portal_user.notes : 'This user has no notes. If you want to add something, click to edit user.'}}</td>
                </tr>
            </table>
        </div>
        <div class="col-12 col-sm-12 col-md-6 user-detail--changePaymentPairing">
            <div class="row">
                <div class="col-6 col-md-4">
                    <b>
                        Preferred payments pairing:
                    </b>
                </div>
                <div class="col-6 col-md-8">
                    <app-dropdown
                            [title]="'Choose preferred payments pairing'"
                            [currentValue]="user.portal_user.user_payment_options.pairing_type"
                            (currentValueChange)="changePaymentsPairing($event)"
                            [items]="paymentsPairingTypes"></app-dropdown>
                </div>
            </div>

        </div>
    </div>


    <app-exlude-user-from-targeting
            [excluded]="user.portal_user.exclude_from_campaign !== null"
            [excludingReason]="(user.portal_user.exclude_from_campaign !== null) ? user.portal_user.exclude_from_campaign.reason_notes : ''"
            (excludedUserEmit)="updatedExcluded($event)"
            [portalUserId]="user.portal_user.id"
    ></app-exlude-user-from-targeting>


    <br/>
    <h3>Donations:</h3>
    <p class="text-center" *ngIf="user.portal_user.donations === null">
        No donations from this user.
    </p>
    <table *ngIf="user.portal_user.donations !== null" class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Monthly donation</th>
            <th>Donation</th>
            <th>Date</th>
            <th>Payment via widget</th>
            <th>Payment type</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<app-loading [isLoading]="loading"></app-loading>
<app-modal-full-size class="active bg-overlay" *ngIf="modalOpened" [(open)]="modalOpened">
    <app-edit-portal-user [userData]="user" (updatedEmit)="updatedUserDetails($event)"></app-edit-portal-user>
</app-modal-full-size>
