.user-detail {
  padding: 15px 30px;
  table {
    &.borderless td, &.borderless th {
      border: none;
    }
    .titleTd {
      text-align: right;
    }
    tr.borderTr {
      border-bottom: 1px solid #ccc;
    }
  }
  &--edit {
    float: right;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
}