@import "variables";
@import "mixins";

label {
  background: $azure;
  color: $white;
  padding: 15px 15px 15px 30px;
  cursor: pointer;
  position: relative;
  @include transitionSingle(.3s ease);
  &:hover {
    @include boxShadow(0 0 10px rgba(0, 0, 0, .5));
  }
  .checkmark {
    position: absolute;margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 15px;
    height: 24px;
    width: 24px;
    background-color: #eee;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 4px;
      width: 7px;
      height: 14px;
      border: solid $azure;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input {
    visibility: hidden;
    &:checked ~ .checkmark:after {
      display: block;
    }
  }


}