<hr>
<h5>Excluding from camapaigns targeting:</h5>
<div class="row">
    <div class="col-12 col-sm-12 col-md-8">
        <b>Reason:</b>
        <input
                type="text"
                placeholder="Please type excluding reason... (max 255 characters)"
                [value]="excludingReason"
                [maxLength]="255"
                (input)="excludingReason = $event.target.value">
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-2">

        <span class="overlay" (click)="changeExcluded($event)" *ngIf="excludingReason === ''"></span>
        <app-switcher [(checked)]="excluded" (checkedChange)="changeExcluded($event)"></app-switcher>
        <span>Exclude user from all campaigns targeting</span>
    </div>
</div>
<hr>
