<div class="cft--monetization--container" [ngStyle]="getMonetizationContainerStyle()" id="cft-monetization__container"
     *ngIf="widget.settings[deviceType].payment_settings.active">
    <div class="head" [ngStyle]="getMonetizationHeaderStyle()">
        <span class="step-back cft--monatization--hidden" onclick="parent.step(this, false)"></span>
        <span class="title">Step 1 of 3</span>
    </div>
    <div class="body" [ngStyle]="getMonetizationContainerBodyStyle()">
        <div class="cft--monetization--container-step-1">
            <div class="cft--monatization--title"
                 [ngStyle]="getMonetizationTitleStyles()"
                 [innerHTML]="(widget.settings[deviceType].payment_settings.second_step.title) ?
                 '<h1>' +
                 widget.settings[deviceType].payment_settings.second_step.title.text +
                 '</h1>' : ''">
            </div>
            <div class="cft--monatization--donation-button-wrapper cft--monatization--only-monthly"
                 [ngClass]="{'cft--monatization--hidden': widget.settings[deviceType].payment_settings.payment_type==paymentTypes.once.value}"
                 [ngStyle]="getRowStyle()">
                <div class="cft--monatization--donation-button-container cft--monatization--donation-button--monthly"
                     [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.monthly_value == option.value}"
                     [ngStyle]="getMonatizationDonationButtonStyle()"
                     *ngFor="let option of widget.settings[deviceType].payment_settings.monthly_prices.options">
                    <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                         onclick="parent.setActiveButtonMonthly(this)">
                        <input type="hidden" value="{{option.value}}">
                        <div class="cft--monatization--donation-button-price" [ngStyle]="getDonationButtonPriceStyle()">
                            {{option.value}}
                        </div>
                        <div class="cft--monatization--donation-button-periodicity"
                             [ngStyle]="getDonationButtonPeriodicityStyle()"> monthly
                        </div>
                    </div>
                </div>
                <div class="cft--monatization--donation-button-container cft--monatization--donation-button--monthly"
                     [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.monthly_value == 'custom' }"
                     [ngStyle]="getMonatizationDonationButtonStyle()"
                     *ngIf="widget.settings[deviceType].payment_settings.monthly_prices.custom_price">
                    <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                         onclick="parent.setActiveButtonMonthly(this, true)"
                         oninput="parent.setActiveButtonMonthly(this)">
                        <input type="number" class="cft--monatization--donation-input-price"
                               [ngStyle]="getDonationInputPriceStyle()" placeholder="custom"/>
                        <div class="cft--monatization--donation-button-periodicity"
                             [ngStyle]="getDonationButtonPeriodicityStyle()"> monthly
                        </div>
                    </div>
                </div>
            </div>
            <div class="cft--monatization--donation-button-wrapper cft--monatization--only-one-time"
                 [ngClass]="{'cft--monatization--hidden': widget.settings[deviceType].payment_settings.payment_type==paymentTypes.both.value ||
                 widget.settings[deviceType].payment_settings.payment_type==paymentTypes.monthly.value}"
                 [ngStyle]="getRowStyle()">
                <div id="cft--monatization--donation-button--one-time"
                     class="cft--monatization--donation-button-container cft--monatization--donation-button--one-time"
                     [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.one_time_value == option.value}"
                     [ngStyle]="getMonatizationDonationButtonStyle()"
                     *ngFor="let option of widget.settings[deviceType].payment_settings.once_prices.options">
                    <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                         onclick="parent.setActiveButtonOneTime(this)">
                        <input type="hidden" value="{{option.value}}">
                        <div class="cft--monatization--donation-button-price" [ngStyle]="getDonationButtonPriceStyle()">
                            {{option.value}}
                        </div>
                    </div>
                </div>
                <div class="cft--monatization--donation-button-container cft--monatization--donation-button--one-time"

                     [ngClass]="{'active': widget.settings[deviceType].payment_settings.default_price.one_time_value == 'custom' }"
                     [ngStyle]="getMonatizationDonationButtonStyle()"
                     *ngIf="widget.settings[deviceType].payment_settings.once_prices.custom_price">
                    <div class="cft--monatization--donation-button" [ngStyle]="getDonationButtonStyle()"
                         onclick="parent.setActiveButtonOneTime(this, true)"
                         oninput="parent.setActiveButtonOneTime(this)">
                        <input type="number" class="cft--monatization--donation-input-price"
                               [ngStyle]="getDonationInputPriceStyle()" placeholder="custom"/>
                    </div>
                </div>
            </div>
            <div class="cft--monatization--membership cft--monatization--only-monthly"
                 *ngIf="widget.settings[deviceType].payment_settings.monthly_prices.benefit.active">
                <span class="cft--monatization--membership-checkbox"
                      [ngClass]="{'active' : monthlyBenefitReached()}"
                      id="cft--monatization--membership-checkbox--monthly"></span>
                <div class="cft--monatization--membership-membership-text" [ngStyle]="getMembershipStyle()"
                     [innerHTML]="widget.settings[deviceType].payment_settings.monthly_prices.benefit.text || '&nbsp;'">
                </div>
            </div>
            <div class="cft--monatization--membership cft--monatization--only-one-time cft--monatization--hidden"
                 *ngIf="widget.settings[deviceType].payment_settings.once_prices.benefit.active">
                <span class="cft--monatization--membership-checkbox"
                      [ngClass]="{'active' : oneTimeBenefitReached()}"
                      id="cft--monatization--membership-checkbox--one-time"></span>
                <div class="cft--monatization--membership-membership-text" [ngStyle]="getMembershipStyle()"
                     [innerHTML]="widget.settings[deviceType].payment_settings.once_prices.benefit.text || '&nbsp;'">
                </div>
            </div>
            <form id="cft--monatization--form--donate" onsubmit="parent.handleSubmit(this, event)" class="form"
                  method="post" novalidate>
                <div class="cft--monatization--form-group--donate" [ngStyle]="getFormGroupStyle()">
                    <label for="cft--monatization--form--donate--email" class="label" [ngStyle]="getLabelStyle()">Váš
                        e-mail</label>
                    <input class="cft--monatization--form--donate--email" type="email"
                           id="cft--monatization--form--donate--email" [ngStyle]="getEmailDonateStyle()"
                           name="email"
                           onchange="parent.trackEmailOnChange(this)"
                           required>
                    <label id="cft--monatization--form-email-error" class="error" [ngStyle]="getErrorStyle()"
                           for="cft--monatization--form--donate--email">E-mail has wrong format</label>
                </div>
                <div class="cft--monatization--form--donate--terms" [ngStyle]="getFormGroupStyle()">
                    <input id="cft--monatization--form--donate--terms" type="checkbox" name="terms_agreed" value="0"
                           required>
                    <label style="display: inline;" for="cft--monatization--form--donate--terms">{{widget.settings[deviceType].payment_settings.terms.text}}</label>
                    <label id="cft--monatization--form--donate--terms-error"
                           [ngStyle]="getErrorStyle()"
                           class="error"
                           for="cft--monatization--form--donate--terms">Please agree with terms and conditions</label>
                </div>
                <div class="cft--button-container" [ngStyle]="getButtonContainerStyles()" *ngIf="ctaReplaced()">
                    <button type="submit" class="cft--button"
                            [ngStyle]="getButtonStyles()">
                        {{widget.settings[deviceType].cta.text}}
                    </button>
                </div>
            </form>
            <div class="cft--monatization--additional-links cft--monatization--only-monthly"
                 [ngStyle]="additionalLinksStyle()"
                 *ngIf="widget.settings[deviceType].payment_settings.payment_type == paymentTypes.both.value">
                <a href="javascript:void(0)" onclick="parent.oneTimePayment()">Jednorazový príspevok</a>
            </div>
            <div class="cft--monatization--additional-links cft--monatization--only-one-time cft--monatization--hidden"
                 [ngStyle]="additionalLinksStyle()"
                 *ngIf="widget.settings[deviceType].payment_settings.payment_type==paymentTypes.both.value">
                <a href="javascript:void(0)" onclick="parent.monthlyPayment()">Podporujte nás pravidelne</a>
            </div>
        </div>
        <div class="cft--monetization--container-step-2  cft--monatization--hidden">
            <div class="cft--monatization--title"
                 [ngStyle]="getMonetizationTitleStyles()"
                 [innerHTML]="(widget.settings[deviceType].payment_settings.second_step.title.text) ?
             '<h1>' +
             widget.settings[deviceType].payment_settings.second_step.title.text +
             '</h1>' : ''">
            </div>
            <div class="payment-options cft--monatization--hidden">
                <label class="payment-options__button"
                       [for]="'cr0wdWidgetContent-'+widget.widget_type.method+'-transfer'"
                       onclick="parent.changePaymentOptions(this)">
                    <input type="radio" name="payment-option" value="1"
                           [id]="'cr0wdWidgetContent-'+widget.widget_type.method+'-transfer'" checked>
                    <div>Bank transfer</div>
                </label>
                <label class="payment-options__button"
                       [for]="'cr0wdWidgetContent-'+widget.widget_type.method+'-bayBySquare'"
                       onclick="parent.changePaymentOptions(this)">
                    <input type="radio" name="payment-option" value="3"
                           [id]="'cr0wdWidgetContent-'+widget.widget_type.method+'-bayBySquare'">
                    <div>Pay by square</div>
                </label>
            </div>
            <div class="payment-option" data-id="1">
                <table class="payment-table" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        <td class="payment-title">IBAN</td>
                        <td class="payment-value payment-iban"></td>
                    </tr>
                    <tr>
                        <td class="payment-title">Var. symbol</td>
                        <td class="payment-value payment-vs"></td>
                    </tr>
                    <tr>
                        <td class="payment-title">Amount</td>
                        <td class="payment-value"><span class="payment-amount"></span></td>
                    </tr>
                    </tbody>
                </table>

                <div class="bank-button__wrapper">

                    <!--THIS COMMENTED CONTENT IS DYNAMICALLY REPLACED BASED ON RESPONSE FROM FIRST STEP USING FUNCTION-->
                    <!--createBankButtons(monetizationEl, bankButtonsData) from landing.ts-->


                    <!--<div class="bank-button__container">-->
                    <!--<div class="bank-button" data-bank-link="http://tatrabanka.sk" onclick="parent.setBankButton(this)">-->
                    <!--<img src="http://localhost/crowdfundingToolbox/backend/storage/public/uploads/Cz3xx-tatra-banka.jpg">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="bank-button__container">-->
                    <!--<div class="bank-button" data-bank-link="http://tatrabanka.sk"  onclick="parent.setBankButton(this)">-->
                    <!--<img src="http://localhost/crowdfundingToolbox/backend/storage/public/uploads/Cz3xx-tatra-banka.jpg">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="bank-button__container">-->
                    <!--<div class="bank-button" data-bank-link="http://tatrabanka.sk"  onclick="parent.setBankButton(this)">-->
                    <!--<img-->
                    <!--src="http://localhost/crowdfundingToolbox/backend/storage/public/uploads/Cz3xx-tatra-banka.jpg">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="bank-button__container">-->
                    <!--<div class="bank-button" data-bank-link="http://tatrabanka.sk"  onclick="parent.setBankButton(this)">-->
                    <!--<img-->
                    <!--src="http://localhost/crowdfundingToolbox/backend/storage/public/uploads/Cz3xx-tatra-banka.jpg">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="bank-button__container">-->
                    <!--<div class="bank-button" data-bank-link="http://tatrabanka.sk"  onclick="parent.setBankButton(this)">-->
                    <!--<img-->
                    <!--src="http://localhost/crowdfundingToolbox/backend/storage/public/uploads/Cz3xx-tatra-banka.jpg">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="bank-button__container">-->
                    <!--<div class="bank-button bank-button__select" onclick="parent.setBankButton(this)">-->
                    <!--<select name="bank">-->
                    <!--<option disabled="" selected="">Iná banka</option>-->
                    <!--<option data-bank-link="https://www.fio.sk/ib2/login">Fio banka</option>-->
                    <!--<option data-bank-link="https://e-portal.jtbank.cz/index_sk.html">J&amp;T banka</option>-->
                    <!--<option data-bank-link="https://banking.oberbank.sk/smartoffice/sk/logon.htm">Oberbank-->
                    <!--</option>-->
                    <!--<option data-bank-link="https://otpdirekt.otpbanka.sk/login/login_main_jelszoalapu.jsp">-->
                    <!--OTP-->
                    <!--</option>-->
                    <!--<option data-bank-link="https://moja.postovabanka.sk/ib/logon.aspx">Poštová banka</option>-->
                    <!--<option data-bank-link="https://ib.primabanka.sk/ib/default.aspx">Prima banka</option>-->
                    <!--<option data-bank-link="https://ibank.privatbanka.sk/Extranet/pages/Login.aspx">Privat-->
                    <!--banka-->
                    <!--</option>-->
                    <!--<option  data-bank-link="https://ibs.sberbank.sk/ebweb/">Sberbank</option>-->
                    <!--<option  data-bank-link="https://sk.unicreditbanking.net/disp?r=57153.468477451475">-->
                    <!--Unicredit-->
                    <!--</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="qr__wrapper payment-option cft--monatization--hidden" data-id="3">
                <div class="pay-by-square__wrapper">
                </div>
            </div>
            <!--payment option for bank transfer-->
            <div class="cft--button-container payment-option" [ngStyle]="getButtonContainerStyles()" data-id="1"
                 *ngIf="ctaReplaced()">
                <a type="submit" class="cft--button--redirect"
                   [ngStyle]="getButtonStyles()" href="" target="_blank"
                   onclick="parent.donationInProgress(this)">
                    {{widget.settings[deviceType].payment_settings.second_step.cta.transfer.text}}
                </a>
            </div>
            <!--payment option for pay by square -->
            <div class="cft--button-container payment-option cft--monatization--hidden" [ngStyle]="getButtonContainerStyles()" data-id="3"
                 *ngIf="ctaReplaced()">
                <div type="submit" class="cft--button--redirect"
                   [ngStyle]="getButtonStyles()" href="http://google.com" target="_blank"
                   onclick="parent.donationInProgress(this)">
                    {{widget.settings[deviceType].payment_settings.second_step.cta.payBySquare.text}}
                </div>
            </div>
        </div>
        <div class="cft--monetization--container-step-3  cft--monatization--hidden">
            <div class="cft--monatization--title"
                 [ngStyle]="getMonetizationTitleStyles()"
                 [innerHTML]="(widget.settings[deviceType].payment_settings.third_step.title.text) ?
             '<h1>' +
             widget.settings[deviceType].payment_settings.third_step.title.text +
             '</h1>' : ''">
            </div>
            <table class="payment-table" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="payment-title">IBAN</td>
                    <td class="payment-value payment-iban"></td>
                </tr>
                <tr>
                    <td class="payment-title">Var. symbol</td>
                    <td class="payment-value payment-vs"></td>
                </tr>
                <tr>
                    <td class="payment-title">Amount</td>
                    <td class="payment-value"><span class="payment-amount"></span></td>
                </tr>
                </tbody>
            </table>
            <h4 style="text-align: center">
                {{widget.settings[deviceType].payment_settings.third_step.cta.description}}
            </h4>
            <div class="cft--button-container payment-option" [ngStyle]="getButtonContainerStyles()"
                 *ngIf="ctaReplaced()">
                <div type="submit" class="cft--button--redirect"
                     [ngStyle]="getButtonStyles()" href="http://google.com" target="_blank"
                     onclick="parent.donationInProgress(this)">
                    {{widget.settings[deviceType].payment_settings.third_step.cta.text}}
                </div>
            </div>
        </div>
    </div>
</div>