<div class="h-100 d-flex flex-column">
    <app-breadcrumbs
        [pageTitle]="'Overall'">
        <div class="row">
            <div class="col-6">
                from:
                <app-datepicker
                    [(date)]="from"
                    (dateChange)="getDataForGraph();getOverallData()"
                    [maxDate]="to"
                    [type]="'start'">
                </app-datepicker>
            </div>
            <div class="col-6">
                to:
                <app-datepicker
                    [(date)]="to"
                    (dateChange)="getDataForGraph();getOverallData()"
                    [minDate]="from"
                    [type]="'end'">
                </app-datepicker>
            </div>
            <div class="col-6 pt-2">
                <app-dropdown [class]="'classic'"
                              [clazz]="'selectWrapper--small selectWrapper--dark'" [items]="typeDropdownButtons"
                              [(currentValue)]="type"
                              (currentValueChange)="getDataForGraph()">
                </app-dropdown>
            </div>

            <div class="col-6 pt-2">
                <app-radio-button-group [clazz]="'radio-button-group--little'" [radioButtons]="intervalRadioButtons"
                                        [(currentValue)]="interval" (currentValueChange)="getDataForGraph()">
                </app-radio-button-group>
            </div>
        </div>

    </app-breadcrumbs>
    <div id="crowd-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p-chart *ngIf="!graphLoading" type="line" [data]="data" [options]="options"
                             [height]="'40vh'" [responsive]=""></p-chart>
                </div>
            </div>
        </div>
        <app-loading [isLoading]="graphLoading || donorsAndDonationsLoading" [height]="'40vh'"></app-loading>

        <div class="container" *ngIf="!donorsAndDonationsLoading">
            <div class="row">
                <div class="col-12 col-lg-6 pt-2">
                    <div class="card">
                        <div class="container">
                            <div class="row">
                                <div class="card-header">
                                    <div class="col">
                                        <h4>Donations</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.total.donations_sum | number: '1.0-2'"
                                        [previous]="donorsAndDonations.current.total.donations_sum - donorsAndDonations.previous.total.donations_sum
                                         | number : '1.0-2' "
                                        [currency]="true">
                                    </app-total-current-and-previous>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span
                                        (click)="openModal('Donations',undefined,'tableDonations')">total</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.monthly.donations_sum  | number: '1.0-2'"
                                        [previous]="donorsAndDonations.current.monthly.donations_sum - donorsAndDonations.previous.monthly.donations_sum
                                         | number : '1.0-2' "
                                        [currency]="true">
                                    </app-total-current-and-previous>

                                </div>
                                <div class="col-6">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.one_time.donations_sum | number: '1.0-2'"
                                        [previous]="donorsAndDonations.current.one_time.donations_sum - donorsAndDonations.previous.one_time.donations_sum | number: '1.0-2'"
                                        [currency]="true">
                                    </app-total-current-and-previous>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <span
                                        (click)="openModal('Donations',true,'tableDonations')">monthly </span>
                                </div>
                                <div class="col-6">
                                    <span
                                        (click)="openModal('Donations',false,'tableDonations')">one time </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.monthly.donations_avg | number: '1.0-2'"
                                        [previous]="donorsAndDonations.current.monthly.donations_avg - donorsAndDonations.previous.monthly.donations_avg
                                         | number: '1.0-2'"
                                        [currency]="true">
                                    </app-total-current-and-previous>
                                </div>
                                <div class="col-6">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.one_time.donations_avg | number: '1.0-2'"
                                        [previous]="donorsAndDonations.current.one_time.donations_avg - donorsAndDonations.previous.one_time.donations_avg | number: '1.0-2'"
                                        [currency]="true">
                                    </app-total-current-and-previous>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Avg monthly
                                </div>
                                <div class="col-6">
                                    Avg one time
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-2">
                    <div class="card">
                        <div class="container">
                            <div class="row">
                                <div class="card-header">
                                    <div class="col">
                                        <h4>Total donors</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.total.donors_count"
                                        [previous]="donorsAndDonations.current.total.donors_count -
                                        donorsAndDonations.previous.total.donors_count">
                                    </app-total-current-and-previous>
                                </div>
                                <div class="col">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.monthly.donors_count"
                                        [previous]="donorsAndDonations.current.monthly.donors_count -
                                          donorsAndDonations.previous.monthly.donors_count">
                                    </app-total-current-and-previous>
                                </div>
                                <div class="col">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.one_time.donors_count"
                                        [previous]="donorsAndDonations.current.one_time.donors_count -
                                         donorsAndDonations.previous.one_time.donors_count">
                                    </app-total-current-and-previous>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span (click)="openModal('Donors',undefined,'tableDonors')">total</span>
                                </div>
                                <div class="col">
                                    <span
                                        (click)="openModal('Monthly donors' ,true,'tableDonors')">monthly</span>
                                </div>
                                <div class="col">
                                    <span
                                        (click)="openModal('Monthly donors' ,false,'tableDonors')">one time</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="card-header">
                                    <div class="col">
                                        <h4>New donors</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.total.donors_new"
                                        [previous]="donorsAndDonations.current.total.donors_new -
                                         donorsAndDonations.previous.total.donors_new">
                                    </app-total-current-and-previous>
                                </div>
                                <div class="col">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.monthly.donors_new"
                                        [previous]="donorsAndDonations.current.monthly.donors_new -
                                        donorsAndDonations.previous.monthly.donors_new">
                                    </app-total-current-and-previous>
                                </div>
                                <div class="col">
                                    <app-total-current-and-previous
                                        [current]="donorsAndDonations.current.one_time.donors_new"
                                        [previous]="donorsAndDonations.current.one_time.donors_new -
                                        donorsAndDonations.previous.one_time.donors_new " >
                                    </app-total-current-and-previous>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span (click)="openModal('Donors',undefined,'tableDonors')">total</span>
                                </div>
                                <div class="col">
                                    <span
                                        (click)="openModal('Monthly donors' ,true,'tableDonors')">monthly</span>
                                </div>
                                <div class="col">
                                    <span
                                        (click)="openModal('Monthly donors' ,false,'tableDonors')">one time</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-full-size class="active bg-overlay" *ngIf="modalOpened" [(open)]="modalOpened">
    <app-table-portal-users *ngIf="tables.tableDonors" [from]="from" [to]="to" [monthly]="monthly"
                            [title]="tableTitle"></app-table-portal-users>
    <app-table-donations *ngIf="tables.tableDonations" [from]="from" [to]="to" [monthly]="monthly"
                         [title]="tableTitle"></app-table-donations>
</app-modal-full-size>